@import "node_modules/govuk-frontend/govuk/all";
@import 'node_modules/dfe-frontend-alpha/packages/dfefrontend';

@media only screen and (-webkit-min-device-pixel-ratio: 2),
     only screen and (min--moz-device-pixel-ratio: 2),
     only screen and (-o-min-device-pixel-ratio: 2/1),
     only screen and (min-device-pixel-ratio: 2),
     only screen and (min-resolution: 192dpi),
     only screen and (min-resolution: 2dppx) {
  .govuk-width-container {
      max-width: 960px;
      @include govuk-media-query($from: desktop) {
        max-width: 1200px;
      }
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
table,
th,
td,
blockquote,
li,
tr,
label,
legend,
select {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
}

.dfe-vertical-nav {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: .875rem;
    line-height: 1.14286;
  
    .dfe-vertical-nav--section-header{
      color: $color_dfe-grey-1;
      font-size: 19px;
      line-height: 1.25;
      font-weight: 600;
      color: #505a5f;
      margin-bottom: 15px;
      padding-top: 0px;
    }
  }
  
  @media (min-width:40.0625em) {
    .dfe-vertical-nav {
      padding-left: 15px
    }
  }
  
  
  @media print {
    .dfe-vertical-nav {
      font-size: 14pt;
      line-height: 1.2
    }
  }
  
  @media (min-width:40.0625em) {
    .dfe-vertical-nav {
      margin-left: -15px
    }
  }
  
  .dfe-vertical-nav__section {
    margin: 0 0 20px;
    padding: 0;
    list-style-type: none
  }
  
  .dfe-vertical-nav__link {
    display: block;
    padding: 7px 30px 8px 10px;
    text-decoration: none;
    margin-bottom: 5px;
    color: $color_dfe-blue;
  }
  
  .dfe-vertical-nav__section-item {
    border-left: 4px solid #b1b4b6;
    font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  }
  
  .dfe-vertical-nav__section-item:hover {
    border-left: 4px solid $color_dfe-secondary-blue;
  }
  
  .dfe-vertical-nav__link:focus {
    background: inherit
  }
  
  .dfe-vertical-nav__section-item--current {
    border-left: 4px solid $color_dfe-blue;
    font-weight: 700;
    background: #f3f2f1
  }
  
  .dfe-vertical-nav__link:active,
  .dfe-vertical-nav__link:hover {
    color: #1d70b8;
    border-left-color: $color_dfe-secondary-blue;
    text-decoration: none;
    box-shadow: none;
    outline: 0
  }
  
  .dfe-vertical-nav__link:focus {
    background: #fd0;
    color: #0b0c0c;
    text-decoration: none;
    box-shadow: none;
    outline: 0
  }
  
  .dfe-vertical-nav__section-item--current .dfe-vertical-nav__link {
    border-left-color: $color_dfe-blue;
    font-weight: 700;
    color: $color_dfe-blue;}
  
  .dfe-vertical-nav__section-item--current .dfe-vertical-nav__link:hover {
    text-decoration: none
  }
  
  .dfe-vertical-nav__section--nested {
    margin-bottom: 5px
  }
  
  .dfe-vertical-nav__section--nested .dfe-vertical-nav__link {
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: -5px
  }
  
  .dfe-vertical-nav__section--nested .dfe-vertical-nav__section-item::before {
    content: "—";
    margin-left: -20px;
    color: #505a5f
  }
  
  .dfe-vertical-nav--count {
    float: right;
    background: #b1b4b6;
    padding: 9px 5px 9px 5px;
    border-radius: 0;
    color: #0b0c0c;
    font-weight: 700;
    min-width: 25px;
    text-align: center;
    font-size: 12px
  }
  
  @media print {
    .dfe-vertical-nav__theme {
      font-family: sans-serif
    }
  }
  
  @media (min-width:40.0625em) {
    .dfe-vertical-nav__theme {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579
    }
  
    .dfe-vertical-nav--count {
      padding: 12px 8px 12px 8px;
    }
  }
  
  .dfe-vertical-nav__section {
  
    .dfe-vertical-nav__section-item--current--child-active {
      .dfe-vertical-nav__link {
        font-weight: 400;
      }
    }
  
    .dfe-vertical-nav__section {
  
      margin-bottom: 0px;
  
      .dfe-vertical-nav__section-item {
        border-left: none;
  
        :before {
          content: "—";
          margin-left: 0px;
          margin-right: 5px;
        }
      }
  
      &.dfe-vertical-nav__section-item--current {
        border-left: none;
        background: $color_dfe-secondary-blue;
  
        .dfe-vertical-nav__link {
          font-weight: 700;
        }
      }
    }
  }

  .dfe-content-page--header{
    background: tint($color_dfe-secondary-blue, 90%)
  }

.dfe-o-hero {
    display: flex;
    position: relative;
    max-width: 1600px !important;
    min-height: 10rem;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: var(--pale-grey, #e8edee);
  }
  
  @media (min-width:64em) {
    .dfe-o-hero {
      min-height: 18rem;
    }
  }
  
  .dfe-o-hero [class^=dfe-t-body],
  .dfe-o-hero [class^=dfe-t-heading] {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
  }
  
  .dfe-o-hero [class^=dfe-t-body] {
    -webkit-line-clamp: 5;
  }
  
  .dfe-o-hero--left-align {
    justify-content: flex-start;
  }
  
  .dfe-o-hero--left-align .dfe-o-hero__content-container {
    width: 80%;
    max-width: 80%;
  }
  
  @media (min-width:23.4375em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      padding-right: calc((100% - 38.222rem)/2);
      padding-left: calc((100% - 38.222rem)/2);
    }
  }
  
  @media (min-width:64em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      padding-right: calc((100% - 52.444rem)/2);
      padding-left: calc((100% - 52.444rem)/2);
    }
  }
  
  @media (min-width:77.5em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      padding-right: calc((100% - 58.888rem)/2);
      padding-left: calc((100% - 58.888rem)/2);
    }
  }
  
  @media (min-width:85.375em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      padding-right: calc((100% - 71.111rem)/2);
      padding-left: calc((100% - 71.111rem)/2);
    }
  }
  
  @media (min-width:98.75em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      padding-right: calc((100% - 83.333rem)/2);
      padding-left: calc((100% - 83.333rem)/2);
    }
  }
  
  @media (max-width:23.4275em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      width: 90%;
      max-width: 90%;
    }
  }
  
  @media (max-width:47.99em) {
    .dfe-o-hero--left-align .dfe-o-hero__content-container {
      width: 100%;
      max-width: 100%;
    }
  }
  
  .dfe-o-hero--left-align .dfe-a-digiblocks--pos-bl,
  .dfe-o-hero--left-align .dfe-a-digiblocks--pos-tl {
    display: none;
  }
  
  .dfe-o-hero__content-container {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    grid-row: 1;
  }
  
  @media (min-width:48em) {
    .dfe-o-hero__content-container {
      max-width: 38.222rem;
    }
  }
  
  @media (min-width:98.75em) {
    .dfe-o-hero__content-container {
      max-width: 52.444rem;
    }
  }
  
  .dfe-o-hero__inner-content-container {
    width: 100%;
    padding: 3.3333333333rem 1.666rem;
  }
  
  @media (max-width:63.99em) {
    .dfe-o-hero__inner-content-container {
      padding: 3.3333333333rem 1.111222rem;
    }
  }
  
  .dfe-o-hero__iframe-wrapper {
    position: relative;
    z-index: 1;
    min-height: 100%;
    padding-bottom: 56.25%;
  }
  
  .dfe-o-hero__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .dfe-o-hero__meta-data {
    display: inline-table;
    margin: 0;
    font-size: .888rem;
    text-align: left;
  }
  
  .dfe-o-hero__meta-data-item {
    display: table-row;
  }
  
  .dfe-o-hero__meta-data-item-description,
  .dfe-o-hero__meta-data-item-title {
    display: table-cell;
    margin: 0;
  }
  
  .dfe-o-hero__meta-data-item-title {
    padding-right: 1.1111111111rem;
    font-weight: 600;
  }
  
  @media (max-width:47.99em) {
  
    .dfe-o-hero__meta-data,
    .dfe-o-hero__meta-data-item,
    .dfe-o-hero__meta-data-item-description,
    .dfe-o-hero__meta-data-item-title {
      display: block;
    }
  
    .dfe-o-hero__meta-data-item {
      padding: .2777777778rem 0;
    }
  }
  
  .dfe-o-hero .dfe-a-digiblocks {
    z-index: 0;
  }
  
  .dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-t-body],
  .dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-t-heading] {
    color: var(--white, #ffffff);
  }
  
  .dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-a-link]:active,
  .dfe-o-hero--light-text .dfe-o-hero__content-container [class^=dfe-a-link]:not(:hover):not(:focus) {
    border-bottom: 1px solid var(--white, #ffffff);
    color: var(--white, #ffffff);
  }
  
  .dfe-o-hero--light-text .dfe-o-hero__content-container .dfe-a-icon>svg {
    fill: var(--white, #ffffff);
  }
  
  .dfe-o-hero--image-accented,
  .dfe-o-hero--image-accented-mirrored {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 50% 50%;
    max-width: 100px;
    margin: 0 auto;
    padding: 0;
  }
  
  @media (max-width:63.99em) {
  
    .dfe-o-hero--image-accented,
    .dfe-o-hero--image-accented-mirrored {
      grid-template-columns: 100%;
    }
  }
  
  .dfe-o-hero--image-accented .dfe-o-hero__image-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__image-container {
    grid-row: 1;
    height: 100%;
  }
  
  @media (min-width:64em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__image-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__image-container {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  
  @media (max-width:63.99em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__inner-content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__inner-content-container {
      padding: 3.3333333333rem 1.111222rem;
    }
  }
  
  @media (max-width:23.4275em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__inner-content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__inner-content-container {
      padding: 1.6666666667rem 1.111222rem;
    }
  }
  
  .dfe-o-hero--image-accented .dfe-o-hero__content-container,
  .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
    max-width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  
  @media (min-width:23.4375em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((100% - 38.222rem)/2);
    }
  }
  
  @media (min-width:64em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((100% - 52.444rem)/2);
    }
  }
  
  @media (min-width:77.5em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((100% - 58.888rem)/2);
    }
  }
  
  @media (min-width:85.375em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((100% - 71.111rem)/2);
    }
  }
  
  @media (min-width:98.75em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((100% - 83.333rem)/2);
    }
  }
  
  @media (min-width:64em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 1.1111111111rem 1.6666666667rem;
    }
  }
  
  @media (min-width:77.5em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      padding: 3.3333333333rem 5rem;
    }
  }
  
  @media (max-width:63.99em) {
  
    .dfe-o-hero--image-accented .dfe-o-hero__content-container,
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      grid-row: 2;
    }
  }
  
  @include govuk-media-query($from: desktop){
  .dfe-o-hero--image-accented .dfe-a-image,
  .dfe-o-hero--image-accented .dfe-a-image__picture,
  .dfe-o-hero--image-accented-mirrored .dfe-a-image,
  .dfe-o-hero--image-accented-mirrored .dfe-a-image__picture {
    height: 100%;
  }
}
  
  .dfe-o-hero--image-accented .dfe-a-colour-bar,
  .dfe-o-hero--image-accented-mirrored .dfe-a-colour-bar {
    height: 2.5rem;
  }
  
  @media (min-width:85.375em) {
  
    .dfe-o-hero--image-accented .dfe-a-colour-bar,
    .dfe-o-hero--image-accented-mirrored .dfe-a-colour-bar {
      height: 4.1666666667rem;
    }
  }
  
  @media (min-width:64em)and (max-width:85.365em) {
  
    .dfe-o-hero--image-accented .dfe-a-image:not(.dfe-a-image--square) .dfe-a-image__picture,
    .dfe-o-hero--image-accented-mirrored .dfe-a-image:not(.dfe-a-image--square) .dfe-a-image__picture {
      padding-bottom: 68.9922481%;
    }
  }
  
  @media (min-width:64em) {
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__image-container {
      grid-column: 1;
    }
  
    .dfe-o-hero--image-accented-mirrored .dfe-o-hero__content-container {
      grid-column: 2;
    }
  }
  
  .dfe-o-hero--image,
  .dfe-o-hero--image-mirrored {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .dfe-o-hero--image .dfe-o-hero__content-container,
  .dfe-o-hero--image .dfe-o-hero__image-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container,
  .dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
    width: 100%;
    max-width: 100%;
  }
  
  @media (min-width:23.4375em) {
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((200% - 38.222rem)/2);
    }
  }
  
  @media (min-width:64em) {
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((200% - 52.444rem)/2);
    }
  }
  
  @media (min-width:77.5em) {
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((200% - 58.888rem)/2);
    }
  }
  
  @media (min-width:85.375em) {
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((200% - 71.111rem)/2);
    }
  }
  
  @media (min-width:98.75em) {
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((200% - 83.333rem)/2);
    }
  }
  
  @media (min-width:64em) {
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding-right: 0;
    }
  }
  
  @media (max-width:23.4275em) {
  
    .dfe-o-hero--image .dfe-o-hero__inner-content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__inner-content-container {
      padding: 1.6666666667rem 1.666rem;
    }
  }
  
  @media (max-width:63.99em) {
  
    .dfe-o-hero--image,
    .dfe-o-hero--image-mirrored {
      grid-template-columns: 100%;
      align-items: center;
    }
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image .dfe-o-hero__image-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
      width: 100%;
      max-width: 100%;
    }
  
    .dfe-o-hero--image .dfe-o-hero__image-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
      grid-row: 1;
    }
  
    .dfe-o-hero--image .dfe-o-hero__content-container,
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      padding: 0 calc((100% - 38.222rem)/2);
      grid-row: 2;
    }
  }
  
  .dfe-o-hero--image-mirrored .dfe-o-hero__image-container {
    grid-column: 1;
  }
  
  .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
    grid-column: 2;
  }
  
  @media (max-width:63.99em) {
    .dfe-o-hero--image-mirrored .dfe-o-hero__content-container {
      grid-column: 1;
    }
  }
  
  .dfe-o-hero--background-image {
    padding-bottom: 35vw;
  }
  
  @media (min-width:85.375em) {
    .dfe-o-hero--background-image {
      padding-bottom: 390px;
    }
  }
  
  .dfe-o-hero--background-image .dfe-o-hero__image-container {
    position: absolute;
    top: calc(100% - 35vw - 90px);
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, #000 60%);
    mask-image: linear-gradient(to bottom, transparent 0, #000 60%);
  }
  
  @media (min-width:85.375em) {
    .dfe-o-hero--background-image .dfe-o-hero__image-container {
      top: calc(100% - 495px);
    }
  }
  
  .dfe-a-colour-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 2.5rem;
    background: #003a69;
  }
  
  .dfe-a-colour-bar,
  .dfe-a-colour-bar:after,
  .dfe-a-colour-bar:before {
    box-sizing: border-box;
  }
  
  
  
  .dfe-a-image,
  .dfe-a-image__picture {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .dfe-a-image {
    margin: 0 auto;
  }
  
  .dfe-a-image,
  .dfe-a-image:after,
  .dfe-a-image:before {
    box-sizing: border-box;
  }
  
  .dfe-a-image__picture {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
  .dfe-a-image__picture img,
  .dfe-a-image__picture svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }
  
  .dfe-a-image--maintain-ratio {
    height: 100%;
  }
  
  .dfe-a-image--contain .dfe-a-image__picture,
  .dfe-a-image--cover .dfe-a-image__picture,
  .dfe-a-image--maintain-ratio .dfe-a-image__picture {
    height: 100%;
    padding: 0;
  }
  
  .dfe-a-image--maintain-ratio .dfe-a-image__picture img,
  .dfe-a-image--maintain-ratio .dfe-a-image__picture svg {
    position: relative;
    vertical-align: top;
    object-fit: contain;
  }
  
  .dfe-a-image--contain,
  .dfe-a-image--cover {
    width: 100%;
    height: 100%;
  }
  
  .dfe-a-image--contain img,
  .dfe-a-image--contain svg,
  .dfe-a-image--cover img,
  .dfe-a-image--cover svg {
    position: relative;
    object-fit: cover;
  }
  
  .dfe-a-image--contain .dfe-a-image__picture img,
  .dfe-a-image--contain .dfe-a-image__picture svg {
    object-fit: contain;
  }
  
  .dfe-a-image--position-top img,
  .dfe-a-image--position-top svg {
    object-position: top center;
  }
  
  .dfe-a-image--position-left img,
  .dfe-a-image--position-left svg {
    object-position: center left;
  }
  
  .dfe-a-image--position-bottom img,
  .dfe-a-image--position-bottom svg {
    object-position: bottom center;
  }
  
  .dfe-a-image--position-right img,
  .dfe-a-image--position-right svg {
    object-position: center right;
  }
  
  .dfe-a-image--position-top-left img,
  .dfe-a-image--position-top-left svg {
    object-position: top left;
  }
  
  .dfe-a-image--position-top-right img,
  .dfe-a-image--position-top-right svg {
    object-position: top right;
  }
  
  .dfe-a-image--position-bottom-left img,
  .dfe-a-image--position-bottom-left svg {
    object-position: bottom left;
  }
  
  .dfe-a-image--position-bottom-right img,
  .dfe-a-image--position-bottom-right svg {
    object-position: bottom right;
  }
  
  .dfe-a-image--4by3 .dfe-a-image__picture img,
  .dfe-a-image--4by3 .dfe-a-image__picture svg,
  .dfe-a-image--square .dfe-a-image__picture img,
  .dfe-a-image--square .dfe-a-image__picture svg {
    position: absolute;
  }
  
  .dfe-a-image--square .dfe-a-image__picture {
    padding-bottom: 100%;
  }
  
  .dfe-a-image--4by3 .dfe-a-image__picture {
    padding-bottom: 75%;
  }
  
  .dfe-a-image--round-corners .dfe-a-image__picture {
    border-radius: .333rem;
  }
  
  .dfe-a-image--round-top-corners .dfe-a-image__picture {
    border-radius: .333rem .333rem 0 0;
  }
  
  .dfe-a-image--no-scale {
    width: auto;
    height: auto;
  }
  
  .dfe-a-image--no-scale .dfe-a-image__picture,
  .dfe-a-image--no-scale img,
  .dfe-a-image--no-scale svg {
    width: auto;
    height: auto;
    padding: 0;
  }
  
  .dfe-a-image--no-scale img,
  .dfe-a-image--no-scale svg {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: top;
  }
  
  img.dfe-a-image,
  img.dfe-a-image img,
  img.dfe-a-image svg,
  picture.dfe-a-image,
  picture.dfe-a-image img,
  picture.dfe-a-image svg,
  svg.dfe-a-image,
  svg.dfe-a-image img,
  svg.dfe-a-image svg {
    object-fit: cover;
    margin: 0;
  }
  
  img.dfe-a-image--no-scale,
  picture.dfe-a-image--no-scale,
  svg.dfe-a-image--no-scale {
    width: auto;
    height: auto;
  }
  
  img.dfe-a-image--position-top,
  picture.dfe-a-image--position-top,
  svg.dfe-a-image--position-top {
    object-position: top center;
  }
  
  img.dfe-a-image--position-left,
  picture.dfe-a-image--position-left,
  svg.dfe-a-image--position-left {
    object-position: center left;
  }
  
  img.dfe-a-image--position-bottom,
  picture.dfe-a-image--position-bottom,
  svg.dfe-a-image--position-bottom {
    object-position: bottom center;
  }
  
  img.dfe-a-image--position-right,
  picture.dfe-a-image--position-right,
  svg.dfe-a-image--position-right {
    object-position: center right;
  }
  
  img.dfe-a-image--position-top-left,
  picture.dfe-a-image--position-top-left,
  svg.dfe-a-image--position-top-left {
    object-position: top left;
  }
  
  img.dfe-a-image--position-top-right,
  picture.dfe-a-image--position-top-right,
  svg.dfe-a-image--position-top-right {
    object-position: top right;
  }
  
  img.dfe-a-image--position-bottom-left,
  picture.dfe-a-image--position-bottom-left,
  svg.dfe-a-image--position-bottom-left {
    object-position: bottom left;
  }
  
  img.dfe-a-image--position-bottom-right,
  picture.dfe-a-image--position-bottom-right,
  svg.dfe-a-image--position-bottom-right {
    object-position: bottom right;
  }
  
  picture.dfe-a-image img,
  picture.dfe-a-image svg {
    width: 100%;
    height: 100%;
  }
  
  picture.dfe-a-image--no-scale img,
  picture.dfe-a-image--no-scale svg {
    width: auto;
    height: auto;
  }
  
  .dfe-a-link--col-white,
  .dfe-a-link--col-white:visited {
    border-bottom: 1px solid var(--white, #ffffff);
    color: var(--white, #ffffff);
  }
  
  .dfe-a-link--col-white:focus,
  .dfe-a-link--col-white:hover {
    color: var(--black, #231f20);
  }
  
  .dfe-a-link--col-white:active {
    color: var(--black, #231f20);
  }
  
  .dfe-a-link--col-black,
  .dfe-a-link--col-black:visited {
    border-bottom: 1px solid var(--black, #231f20);
    color: var(--black, #231f20);
  }
  
  .dfe-a-link--col-black:focus,
  .dfe-a-link--col-black:hover {
    border-bottom: 3px solid var(--white, #ffffff);
    color: var(--white, #ffffff);
    background-color: var(--black, #231f20);
  }
  
  .dfe-a-link--col-black:active {
    border-bottom: 3px solid transparent;
    color: var(--black, #231f20);
  }
  
  .dfe-a-link--col-dark-grey,
  .dfe-a-link--col-dark-grey:visited {
    border-bottom: 1px solid var(--dark-grey, #3f525f);
    color: var(--dark-grey, #3f525f);
  }
  
  .dfe-a-link--col-dark-grey:focus,
  .dfe-a-link--col-dark-grey:hover {
    border-bottom: 3px solid var(--black, #231f20);
    color: var(--black, #231f20);
    background-color: var(--yellow, #fae100);
  }
  
  .dfe-a-link--col-dark-grey:active {
    border-bottom: 3px solid transparent;
    color: var(--black, #231f20);
  }
  
  .dfe-a-link--col-red,
  .dfe-a-link--col-red:visited {
    border-bottom: 1px solid var(--accessible-red, #b30f0f);
    color: var(--accessible-red, #b30f0f);
  }
  
  
  
  .dfe-a-button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 15.55rem;
    margin-bottom: 1.78rem;
    padding: .5555555556rem 1.1111111111rem;
    border: 2px solid $color_dfe-blue;
    border-radius: 2px;
    outline: 0;
    box-shadow: 0 0 0 .167rem transparent;
    font-size: .78rem;
    font-weight: 600;
    line-height: 1.11;
    text-align: center;
    text-decoration: none;
    vertical-align: text-bottom;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    user-select: none;
    transition-property: background-color, box-shadow, border-color;
    transition-duration: .15s;
  }
  
  .dfe-a-button,
  .dfe-a-button:after,
  .dfe-a-button:before {
    box-sizing: border-box;
  }
  
  .dfe-a-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
  }
  
  .dfe-a-button__label {
    min-height: 1.1111111111rem;
    padding-top: 1px;
    overflow: hidden;
    line-height: calc(1.1111111111rem - 1px);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .dfe-a-button .dfe-a-icon,
  .dfe-a-button__label {
    vertical-align: text-bottom;
  }
  
  .dfe-a-button--circle {
    padding: .5555555556rem;
  }
  
  .dfe-a-button--circle-condensed {
    padding: .2777777778rem;
  }
  
  .dfe-a-button__label+.dfe-a-icon,
  .dfe-a-icon+.dfe-a-button__label {
    margin-left: .5555555556rem;
  }
  
  .dfe-a-button--active,
  .dfe-a-button:focus,
  .dfe-a-button:hover {
    box-shadow: 0 0 0 .167rem var(--yellow, #fae100);
  }
  
  .dfe-a-button:active {
    transition-property: none;
    transform: translateY(.111rem);
    box-shadow: 0 0 0 .167rem transparent;
  }
  
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(.dfe-a-button--transparent),
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):visited:not(.dfe-a-button--transparent) {
    color: var(--white, #ffffff);
    background: $color_dfe-blue;
  }
  
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):active {
    background: $color_dfe-blue;
    box-shadow: 0 0 0 .167rem transparent;
  }
  
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):focus,
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):hover {
    background: $color_dfe-secondary-blue;
    background: $color_dfe-secondary-blue;
  }
  
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):focus .dfe-a-icon>svg,
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):hover .dfe-a-icon>svg,
  .dfe-o-dropdown__dropdown ul li a:not(.dfe-a-link):focus svg,
  .dfe-o-dropdown__dropdown ul li a:not(.dfe-a-link):hover svg,
  .dfe-o-dropdown__dropdown ul li button:not(.dfe-a-button):focus svg,
  .dfe-o-dropdown__dropdown ul li button:not(.dfe-a-button):hover svg {
    fill: var(--white, #ffffff);
  }
  
  .dfe-a-button:not(.dfe-a-button--invert):not(.dfe-a-button--outline):not(.dfe-a-button--start):not(.dfe-a-button--cancel):not(.dfe-a-button--disabled):not(:disabled):not(:disabled):not(.dfe-a-button--disabled):active {
    background: $color_dfe-secondary-blue;
    background: $color_dfe-secondary-blue;
    transition-property: none;
  }
  
  .dfe-a-button--disabled,
  .dfe-a-button--disabled:active,
  .dfe-a-button--disabled:focus,
  .dfe-a-button--disabled:hover,
  .dfe-a-button:disabled,
  .dfe-a-button:disabled:active,
  .dfe-a-button:disabled:focus,
  .dfe-a-button:disabled:hover {
    border-color: var(--mid-grey-20-tint, #d5dade);
    color: var(--dark-grey, #3f525f);
    background: var(--mid-grey-20-tint, #d5dade);
    box-shadow: none;
    cursor: not-allowed;
  }
  
  .dfe-a-button--disabled .dfe-a-icon>svg,
  .dfe-a-button--disabled:active .dfe-a-icon>svg,
  .dfe-a-button--disabled:focus .dfe-a-icon>svg,
  .dfe-a-button--disabled:hover .dfe-a-icon>svg,
  .dfe-a-button:disabled .dfe-a-icon>svg,
  .dfe-a-button:disabled:active .dfe-a-icon>svg,
  .dfe-a-button:disabled:focus .dfe-a-icon>svg,
  .dfe-a-button:disabled:hover .dfe-a-icon>svg {
    fill: var(--dark-grey, #3f525f);
  }
  
  .dfe-a-button--start {
    border-color: var(--dark-green, #006646);
    color: var(--white, #ffffff);
    background: var(--dark-green, #006646);
  }
  
  .dfe-a-button--cancel {
    border-color: var(--accessible-red, #b30f0f);
    color: var(--white, #ffffff);
    background: var(--accessible-red, #b30f0f);
  }
  
  .dfe-a-button--invert {
    border-color: var(--white, #ffffff);
  }
  
  .dfe-a-button--invert .dfe-a-icon>svg,
  .dfe-a-button--outline .dfe-a-icon>svg {
    fill: var(--blue, #005bbb);
    ;
  }
  
  .dfe-a-button--invert,
  .dfe-a-button--outline {
    color: var(--blue, #005bbb);
    background: var(--white, #ffffff);
  }
  
  .dfe-a-button--outline:active {
    border-color: var(--blue, #005bbb);
    box-shadow: 0 0 0 .167rem transparent;
  }
  
  .dfe-a-button--outline:not(:disabled):not(.dfe-a-button--disabled):focus,
  .dfe-a-button--outline:not(:disabled):not(.dfe-a-button--disabled):hover {
    border-color: var(--black, #231f20);
  }
  
  .dfe-a-button--outline:not(:disabled):not(.dfe-a-button--disabled):active {
    border-color: var(--blue, #005bbb);
  }
  
  @media (max-width:63.99em) {
    .dfe-a-button--responsive {
      width: 100%;
    }
  }
  
  .dfe-a-button--transparent {
    border: 1px solid transparent;
    background: 0 0;
  }
  
  .dfe-a-button--transparent .dfe-a-icon>svg {
    fill: var(--black, #231f20);
  }
  
  input[type=reset].dfe-a-button,
  input[type=submit].dfe-a-button {
    display: inline-block;
    min-height: calc(2.5rem - .69px);
  }
  
  
  .dfe-o-banner  {
    display: flex;
    width: 100%;
    min-height: 10rem;
    margin: 0 auto;
    &.dfe-o-banner--blog{
        a{text-decoration: none;}
        .dfe-o-banner__content-container{
            border-radius: 12px 0 0 12px;
            img{border-radius: 0 12px 12px 0;}
          }
          .dfe-o-banner__image-container{
            border-radius: 12px 0 0 12px;
            img{border-radius: 0 12px 12px 0;}
          }
      }
  }
  
  .dfe-o-banner--mirrored {
    flex-direction: row-reverse;
  }
  
  .dfe-o-banner [class^=dfe-t-body],
  .dfe-o-banner [class^=dfe-t-heading] {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
  }
  
  .dfe-o-banner [class^=dfe-t-body] {
    -webkit-line-clamp: 5;
  }
  
  .dfe-o-banner__content-container,
  .dfe-o-banner__image-container {
    width: 50%;
  }
  
  .dfe-o-banner__content-container {
    display: flex;
    align-items: center;
  }
  
  .dfe-o-banner__inner-content-container {
    width: 100%;
    padding: 3rem;
  }
  
  .dfe-o-banner__inner-content-container .dfe-a-button {
    max-width: 100%;
  }
  
  @media (max-width:63.99em) {
    .dfe-o-banner {
      width: 100%;
      flex-direction: column-reverse;
    }
  
    .dfe-o-banner__content-container,
    .dfe-o-banner__image-container {
      width: 100%;
    }
  
  
    .dfe-o-banner .dfe-a-image {
      overflow: hidden;
    }
  
    .dfe-o-banner .dfe-a-image img {
      position: relative;
    }
  }



  .dfe-light-blue-tint {
    background: tint($color_dfe-secondary-blue, 90%)
  }


.dfe-hero{padding: 50px 0px; background: $color_dfe-secondary-blue; .govuk-heading-xl, p {color: $color_dfe-white !important} }



  /// CARDS
  /// 

.dfe-grid-container {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}
@include govuk-media-query($from: tablet){
  .dfe-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(250px, 1fr));
    grid-gap: 30px;

    &.dfe-grid-container--wider{
        grid-template-columns: repeat(auto-fill,  minmax(350px, 1fr));
    }
  }
}


.dfe-card {
  position: relative;
  background-color: #f3f2f1;
  border-bottom: 3px solid $color_dfe-blue;
  max-width: 400px;

  &.dfe-card--blog-card{
    border-radius: 12px 12px 0 0;
    img{border-radius: 12px 12px 0 0;}
  }
}

@include govuk-media-query($until: tablet){
  .dfe-card {max-width: 100%;}
}

.dfe-card>picture, .dfe-card>picture>img{max-width: 100%;}


.dfe-card-container {
  padding: 20px;
}
.dfe-card:hover, .dfe-card:focus-within {
  background-color: $color_dfe-blue;
}
.dfe-card:hover a, .dfe-card:focus-within a,  .dfe-card:hover p, .dfe-card:focus-within p{
  color: $color_dfe-white
}

.dfe-card:focus-within   {
  outline: 3px solid $color_dfe-yellow;
}

.dfe-card-container .dfe-card-link--retake:focus, .dfe-card-container .dfe-card-link--header:focus {
  color: $color_dfe-black;
}
.dfe-card-link--retake {
  position: relative;
  z-index: 2;
}
.dfe-card-link--header {
  text-decoration: none;
  color: $color_dfe-secondary-blue;;
}
.dfe-card-link--header:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.dfe-related-content{
  border-top: 5px solid $color_dfe-blue;
  padding-top: 15px;
}
  
  .dfe-reading-width{  max-width: 44em !important;}
  
  .custom-dfe-panel.custom-dfe-panel_example {
    max-width: 80em;
  }
  
  .custom-dfe-panel--title {
    padding: 10px 15px;
    background: govuk-colour("light-grey");
  }
  
  .custom-dfe-panel--content {
    border-top: 1px solid #b1b4b6; 
    padding: 15px;
    overflow: hidden;
  }
  
  .custom-dfe-section {
    margin-bottom: 60px;
  }
  
  .monospace {
    font-family: monospace;
    font-size: 16px;
  }
  


.dfe-atoz {

    padding-left: 0px;
    margin-bottom: 30px;
    margin-top: -30px;
  
    >li {
      display: inline-block;
      margin-bottom: 0;
      padding-right: 10px;
      margin-bottom: 20px;
  
      >a {
        margin-right: 0px;
        text-decoration: underline;
        font-size: 1.3rem;
        padding: 12px;
      }
    }
  }

  .dfe-summary-list--meta{
    font-size: 16px;
    line-height: 0.8rem;
    
    .govuk-summary-list__key{width: 13%}
  }


  .dfe-section-break{
    border-bottom: 3px solid #003a69;
    margin: 20px 0px 20px;

    &.dfe-section-break--m{
        margin: 60px 0px 60px;
    }
  }


.dfe-topnav {
    background: $color_dfe-secondary-blue;
  }
  
  
  .flex-nav {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-right {
    justify-content: flex-end;
    margin-left: auto;
  }
  
  .flex-left {
    justify-content: flex-start;
    margin-right: auto;
  }
  
  .dfe-topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1.4em;
  }
  
  .dfe-topnav li a {
    display: block;
    text-align: center;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    text-decoration: none;
    color: $color_dfe-white;
  }
  
  @media (min-width: 40.0625em) {
    .dfe-topnav li a {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  
  @media print {
    .dfe-topnav li a {
      font-size: 14pt;
      line-height: 1.2;
    }
  }
  
  .dfe-topnav li {
    float: left;
    margin-bottom: 0px;
    font-size: 16px;
  }
  
  .dfe-topnav li a:focus {
    background: #ffdd00;
    color: #171b1f !important;
  }
  
  .dfe-topnav li a:hover {
    background-color: $color_dfe-blue;
    color: #ffffff;
  }
  
  .dfe-topnav li a:hover:focus {
    color: #ffffff !important;
  }
  
  .dfe-topnav li a:hover {
    color: #ffffff;
  }
  
  .dfe-topnav .active {
    color: #ffffff;
    font-weight: 700;
    background-color: $color_dfe-blue;
  }
  
  .dfe-topnav .active:focus {
    color: #171b1f;
  }
  
  .dfe-topnav ul.right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  @media (max-width: 61.865em) {
    .dfe-topnav {
      display: none;
    }
  }
  
  @media (min-width: 61.875em) {
    .dfe-topnav {
      display: block;
    }
  }

  /* Custom DfE Dynamic 365 Portal timeline component*/
.dfe-timeline {
  border-left: 5px solid #347ca9;
  margin: 0 0 30px;
  padding: 0
}

.dfe-timeline__event {
  list-style: none;
  padding-bottom: 20px;
  padding-left: 15px;
  position: relative;
}

@media (min-width: 40.0625em) {
  .dfe-timeline__event {
      padding-bottom:30px
  }
}

.dfe-timeline__event:last-child {
  padding-bottom: 0
}

.dfe-timeline__event-title {
  margin-bottom: 5px;
}

.dfe-timeline__event-title:before {
  background-color: #347ca9;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: .5em;
  width: 7px
}

.dfe-timeline__event-meta {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0b0b;
  display: block;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 8px;
}

@media print {
  .dfe-timeline__event-meta {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfe-timeline__event-meta {
      font-size:19px;
      line-height: 1.31579
  }
}

@media print {
  .dfe-timeline__event-meta {
      color: #000;
      font-size: 14pt;
      line-height: 1.15
  }
}

.dfe-timeline__event-content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0b0b;
  display: block;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 5px
}

@media print {
  .dfe-timeline__event-content {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfe-timeline__event-content {
      font-size:19px;
      line-height: 1.31579
  }
}

@media print {
  .dfe-timeline__event-content {
      color: #000;
      font-size: 14pt;
      line-height: 1.15
  }
}

/* Custom DfE Dynamics 365 Panel card component */

.dfe-panel__flex-row {
  display: flex;
  align-items: stretch; /* Stretch child to match parent's height */
}

.dfe-panel__flex-column {
  display: flex;
  align-items: stretch; /* Stretch child to match parent's height */
}

.dfe-panel__flex-component {
  flex: 1; /* Expand to take remaining vertical space */
  /* Additional styles for your specific panel component */
}

.dfe-panel {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 15px;
  border: 5px solid rgba(0, 0, 0, 0);
  text-align: left;
}

@media print {
  .dfe-panel {
      font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .dfe-panel {
      font-size: 19px;
      line-height: 1.31579;
  }
}
@media print {
  .dfe-panel {
      font-size: 14pt;
      line-height: 1.15;
  }
}
@media (max-width: 40.0525em) {
  .dfe-panel {
      padding: 10px;
      overflow-wrap: break-word;
      word-wrap: break-word;
  }
}

.dfe-panel__card {
  color: #0b0c0c;
  background: #f3f2f1;
}

@media print {
  .dfe-panel__card {
      border-color: currentcolor;
      color: #000;
      background: none;
  }
}

.dfe-panel__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.09375;
}

@media print {
  .dfe-panel__title{
      font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .dfe-panel__title {
      font-size: 24px;
      line-height: 1.25;
  }
}
@media print {
  .dfe-panel__title {
      font-size: 18pt;
      line-height: 1.15;
  }
}

.dfe-panel__title:last-child {
  margin-bottom: 0;
}

.dfe-panel__body {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

@media print {
  .dfe-panel__body  {
      font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .dfe-panel__body  {
      font-size: 19px;
      line-height: 1.31579;
  }
}
@media print {
  .dfe-panel__body {
      font-size: 14pt;
      line-height: 1.15;
  }
}

.dfe-panel__link {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
}

@media print {
  .dfe-panel__link {
      font-family: sans-serif;
  }
}

.dfe-panel__link:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.dfe-panel__link:link {
  color: #347ca9;
}
.dfe-panel__link:visited {
  color: #4c2c92;
}
.dfe-panel__link:hover {
  color: #003a69;
}
.dfe-panel__link:active,
.dfe-panel__link:focus {
  color: #0b0c0c;
}

@media print {
  .dfe-panel__link[href^="/"]:after,.dfe-panel__link[href^="http://"]:after,.dfe-panel__link[href^="https://"]:after
  {
      content: " (" attr(href) ")";
      font-size: 90%;
      word-wrap: break-word;
  }
}

/* Custom DfE Dynamics 365 sidebar component*/
.dfe-sidebar {
  color: #0b0c0c;
  border-top: 2px solid #347ca9;
  margin-bottom: 60px;
}

.dfe-sidebar-section__main-heading {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media (min-width: 40.0625em) {
  .dfe-sidebar-section__main-heading {
      font-size: 19px;
      line-height: 1.3157894737;
  }
}

.dfe-sidebar-section__content {
  display: block;
  margin-bottom: 30px;
}

.dfe-sidebar-section ul {
  padding: 0;
  margin: 0;
}

.dfe-sidebar-section__link {
  margin-left: 0 !important;
}

.dfe-sidebar-section__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

.dfe-sidebar-section__list-item {
  list-style-type: none;
  margin-top: 5px;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.45;
}

@media (min-width: 40.0625em) {
  .dfe-sidebar-section__list-item {
      line-height: 1.28;
      font-size: 16px;
  }
}

/* Custom DfE arrow component*/
.dfe-arrow-left {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  top: 5px;
  color: #347ca9;
}
.dfe-arrow-left::after,
.dfe-arrow-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px
}
.dfe-arrow-left::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
}
.dfe-arrow-left::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
}
.dfe-arrow-right {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  top: 5px;
  color: #347ca9;
}
.dfe-arrow-right::after,
.dfe-arrow-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 3px
}
.dfe-arrow-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 7px
}
.dfe-arrow-right::before {
  width: 16px;
  height: 2px;
  bottom: 10px;
  background: currentColor
}


// App-specific variables
$app-light-grey: #f8f8f8;
$app-code-color: #d13118;

.govuk-tabs code,
.govuk-tabs code span {
  /// System ui-monospace font stack
  ///
  /// @link https://caniuse.com/extended-system-fonts
  /// @link https://www.w3.org/TR/css-fonts-4/#ui-monospace-def
  ///
  /// Android typically avoids the "Courier" based monospace
  /// default but we need to specify fallbacks for others:
  ///
  /// * SF Mono - Font for Safari 13.1+ via ui-monospace
  /// * Menlo - Font for older macOS, OS X versions
  /// * Cascadia Mono, Segoe UI Mono, Consolas - Fonts for Windows 11, 10, 8
  /// * Consolas - Font for older Windows versions
  /// * Liberation Mono - Font for Linux used by GitHub

  // font family in a separate variable to avoid syntax errors when passing
  // to the common typography mixin
  font-family: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace !important;
}

/* Remove top margin from pre inside .govuk-tabs */
.govuk-tabs pre {
  margin-top: 0;
}

/* Remove bottom margin from .govuk-form-group and .govuk-button inside [id*='html'] within .govuk-tabs */
/* Remove bottom margin from .govuk-warning-text inside [id*='liquid'] within .govuk-tabs */
.govuk-tabs [id*='html'] .govuk-form-group,
.govuk-tabs [id*='html'] .govuk-button,
.govuk-tabs [id*='liquid'] .govuk-warning-text {
  margin-bottom: 0;
}

// Add styling for inline code
li code,
caption code,
td code,
p code {
  font-family: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace !important;
  padding: 1px 3px;
  color: $app-code-color;
  background-color: govuk-colour("light-grey");
  font-size: 16px;
  @include govuk-media-query($from: tablet) {
    padding: 2px 4px;
  }
}

// Add styling for code in headings
.govuk-heading-s code,
.govuk-heading-m code,
.govuk-heading-l code,
.govuk-heading-xl code {
  font-size: inherit;
}

// Add styling for block code
pre code {
  display: block;
  margin: 0;
  padding: 0 20px 0 20px;
  overflow-x: auto;
  border: $govuk-focus-width solid transparent;
  outline: 1px solid $govuk-border-colour;
  background-color: $app-light-grey;
  font-size: 16px;
  @include govuk-responsive-margin(4, "bottom");

  &:focus {
    border: $govuk-focus-width solid $govuk-input-border-colour;
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

// Allow text to wrap
pre .language-xml,
pre .language-php {
  white-space: pre-wrap;
}

.hljs-comment,
.hljs-quote {
  color: #545555;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333333;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #00703c;
}

.hljs-string,
.hljs-doctag {
  color: #d13118;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #990000;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #445588;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #003078;
}

.hljs-regexp,
.hljs-link {
  color: #008020;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-builtin,
.hljs-builtin-name {
  color: #017ba5;
}

.hljs-meta {
  color: #545555;
}

.hljs-deletion {
  background: #ffdddd;
}

.hljs-addition {
  background: #ddffdd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


/**
* Search input to be embedded on a form within a text component
**/

.dfe-form-search__item-wrapper {
  display: inline-flex;
  width: 100%;
  background: #fff
}

.dfe-form-search__item {
    position: relative;
    display: table;
    vertical-align: top
}

.dfe-form-search__input[type="search"]:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px
}

.dfe-form-search__input[type="search"] {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4736842105;
    margin: 0;
    width:100%;
    height: 2.5em;
    padding: .375em;
    border: 2px solid #0b0c0c;
    background: #fff;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

@media print {
    .dfe-form-search__input[type="search"] {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .dfe-form-search__input[type="search"] {
        font-size:19px;
        line-height: 1.4736842105
    }
}

@media print {
    .dfe-form-search__input[type="search"] {
        font-size: 14pt;
        line-height: 1.4736842105
    }
}

@media (min-width: 40.0625em) {
    .dfe-form-search__input[type="search"] {
        height:2.1052631579em;
        padding: .3157894737em
    }
}

.dfe-form-search__input[type="search"]:focus,.dfe-search__input.focus[type="search"] {
    z-index: 2
}

.dfe-form-search__submit-wrapper {
    width: 1%
}

.dfe-form-search__submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    text-indent: -5000px;
    overflow: hidden;
    background-color: #347ca9;
}

.dfe-form-search__submit .dfe-form-search__icon {
    display: block;
    pointer-events: none;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 10px;
    color: #ffffff;
}

.dfe-form-search__submit:focus {
    z-index: 2;
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 4px #0b0c0c
}

.dfe-form-search__submit:hover {
  background-color: #003a69;
  }

.dfe-form-search__submit::-moz-focus-inner {
    border: 0
}  

/* Contents block */
.dfe-contents-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #b1b4b6;
}

@media (min-width: 40.0625em) {
  .dfe-contents-container {
      margin-top: 0;
      padding-bottom: 15px;
  }
}

.dfe-contents-list__list-item--numbered .dfe-contents-list__link {
  display: table
}

.dfe-contents-list__number,.dfe-contents-list__numbered-text {
  display: table-cell
}

.dfe-contents-list__number {
  min-width: 1.5em
}

.dfe-contents-list__numbered-text {
  padding-left: .3em
}

.direction-rtl .dfe-contents-list__numbered-text {
  padding-left: 0;
  padding-right: .3em
}

.dfe-contents-list {
  position: relative;
  margin: 0 0 20px 0;
  z-index: 1;
  background: #fff;
  box-shadow: 0 20px 15px -10px #fff
}

.dfe-contents-list__title {
  color: #0b0c0c;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0
}

@media print {
  .dfe-contents-list__title {
      color: #000
  }
}

@media print {
  .dfe-contents-list__title {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfe-contents-list__title {
      font-size:16px;
      line-height: 1.5
  }
}

@media print {
  .dfe-contents-list__title {
      font-size: 14pt;
      line-height: 1.5
  }
}

.dfe-contents-list__list, .dfe-contents-list__nested-list {
  color: #0b0c0c;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  margin: 0;
  padding: 0;
  list-style-type: none
}

@media print {
  .dfe-contents-list__list,.dfe-contents-list__nested-list {
      color: #000
  }
}

@media print {
  .dfe-contents-list__list,.dfe-contents-list__nested-list {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfe-contents-list__list,.dfe-contents-list__nested-list {
      font-size:16px;
      line-height: 1.25
  }
}

@media print {
  .dfe-contents-list__list,.dfe-contents-list__nested-list {
      font-size: 14pt;
      line-height: 1.2
  }
}

.dfe-contents-list__list-item--parent>.dfe-contents-list__link {
  font-weight: bold
}

.dfe-contents-list__link:focus,.dfe-contents-list__link:active:focus,.dfe-contents-list__link:link:focus,.dfe-contents-list__link:visited:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: #0b0c0c !important
}

.dfe-contents-list__list-item {
  padding-top: 10px;
  line-height: 1.3;
  list-style-type: none
}

@media (min-width: 40.0625em) {
  .dfe-contents-list__list-item {
      padding-top:7.5px
  }
}

.dfe-contents-list__list-item--dashed {
  position: relative;
  padding-left: 25px;
  padding-right: 25px
}

.dfe-contents-list__list-item--dashed:before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden
}

.direction-rtl .dfe-contents-list__list-item--dashed:before {
  left: auto;
  right: 0
}

.lte-ie8 .dfe-contents-list__list-item--dashed .dfe-contents-list__link {
  display: inline-block;
  vertical-align: top
}

@media print {
  .dfe-contents-list__list,.dfe-contents-list__nested-list {
      padding-left: 0;
      margin-left: 0
  }

  .dfe-contents-list__list-item--dashed {
      margin-left: 15px;
      list-style-type: disc
  }

  .dfe-contents-list__list-item--numbered,.dfe-contents-list__list-item--parent {
      list-style-type: none
  }
}

.dfe-contents-list__list>li, .dfe-contents-list__nested-list>li {
  margin-bottom: 0;
}

/* Sortable table extra components */

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #347ca9;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus {
  background-color: #ffdd00;
  color: #0b0c0c;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px #0b0c0c;
  outline: none;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -2px;
  top: 12px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -2px;
  top: 3px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -6px;
  top: 4px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -6px;
  top: 4px;
}


div[data-module="dfe-table-search"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dfe-table-search {
  flex: 1;
  margin-right: 10px;
}

/*DASHBOARD TOTALS COMPONENT */
.dfe-dashboard-date-range-container {
  display: block
}

@media(min-width: 40.0625em) {
  .dfe-dashboard-date-range-container {
      display:inline-block;
  }
}

.dfe-dashboard-date-range-container__select {
  width: 100%
}

.dfe-dashboard-total-group {
  margin-bottom: 30px
}

.dfe-dashboard-total-group__title {
  color: #0b0c0c;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: block;
  margin: 30px 0 5px
}

@media print {
  .dfe-dashboard-total-group__title {
      color: #000
  }
}

@media print {
  .dfe-dashboard-total-group__title {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .dfe-dashboard-total-group__title {
      font-size:19px;
      line-height: 1.3157894737
  }
}

@media print {
  .dfe-dashboard-total-group__title {
      font-size: 14pt;
      line-height: 1.15
  }
}

.dfe-dashboard-total-group__values {
  display: flex;
  position: relative;
  margin: 0;
  padding: 15px;
  padding-left: 25px;
  border: 2px solid #b1b4b6;
  border-left: 0;
  background-color: #f3f2f1;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline
}

.dfe-dashboard-total-group__values::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  width: .625rem;
  background-color: #0b0c0c
}

.dfe-dashboard-total-group__values--red::before {
  background-color: #d4351c
}

.dfe-dashboard-total-group__values--blue::before {
  background-color: #347ca9
}

.dfe-dashboard-total-group__count {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  float: left;
  margin-left: 0
}

@media print {
  .dfe-dashboard-total-group__count {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .dfe-dashboard-total-group__count {
      font-size:24px;
      line-height: 1.25
  }
}

@media print {
  .dfe-dashboard-total-group__count {
      font-size: 18pt;
      line-height: 1.15
  }
}

.dfe-dashboard-total-group__amount {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  text-align: right;
  flex: 1;
  float: right
}

@media print {
  .dfe-dashboard-total-group__amount {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .dfe-dashboard-total-group__amount {
      font-size:24px;
      line-height: 1.25
  }
}

@media print {
  .dfe-dashboard-total-group__amount {
      font-size: 18pt;
      line-height: 1.15
  }
}

.dfe-dashboard-total-explainer {
  margin-top: 10px;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429
}

@media print {
  .dfe-dashboard-total-explainer {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .dfe-dashboard-total-explainer {
      font-size:16px;
      line-height: 1.25
  }
}

@media print {
  .dfe-dashboard-total-explainer {
      font-size: 14pt;
      line-height: 1.2
  }
}