<nav class="dfe-sub-navigation" aria-label="Sub-navigation">
  <div class="govuk-width-container">
    <ul class="dfe-sub-navigation__list">
      <li class="dfe-sub-navigation__item dfe-sub-navigation__item--active">
        <a class="dfe-sub-navigation__link" href="#" aria-current="page">Overview</a>
      </li>
      <li class="dfe-sub-navigation__item">
        <a class="dfe-sub-navigation__link" href="#">Eligibility</a>
      </li>
      <li class="dfe-sub-navigation__item">
        <a class="dfe-sub-navigation__link" href="#">How to apply</a>
      </li>
      <li class="dfe-sub-navigation__item">
        <a class="dfe-sub-navigation__link" href="#">After you apply</a>
      </li>
    </ul>
  </div>
</nav>
