{% set files = [
    {
        name: "govuk-frontend.js",
        url: "/downloads/govuk-frontend.js",
        type: "JavaScript"
    },
    {
        name: "dfe-frontend.js",
        url: "/downloads/dfe-frontend.js",
        type: "JavaScript"
    },
    {
        name: "dfe-crm-portal-helper.js",
        url: "/downloads/dfe-crm-portal-helper.js",
        type: "JavaScript"
    },
    {
        name: "dfe-frontend.css",
        url: "/downloads/dfe-frontend.css",
        type: "Stylesheet"
    },
    {
        name: "theme.css",
        url: "/downloads/theme.css",
        type: "Stylesheet"
    },
    {
        name: "dfe-logo.png",
        url: "/downloads/dfe-logo.png",
        type: "Image"
    },
    {
        name: "dfe-logo-alt.png",
        url: "/downloads/dfe-logo-alt.png",
        type: "Image"
    },
    {
        name: "favicon.ico",
        url: "/downloads/favicon.ico",
        type: "Image"
    }
] %}

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Web Files</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File name</th>
            <th scope="col" class="govuk-table__header">File type</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">    
        {% for file in files %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link" href="{{ file.url }}" download>{{ file.name }}</a></th>
                <td class="govuk-table__cell">{{ file.type }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>