<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/assets/images/dfe-logo_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
  </div>
</header>

{% set navigationItems = [
  { href: pages['powerpages'].url, text: "Power Pages" },
  { href: pages['crm'].url, text: "CRM" }
] %}

{% set updatedNavigation = [] %}

{% set powerPagesActive = currentPath | contains(pages['powerpages'].url) %}
{% set updatedPowerPagesItem = navigationItems[0] | merge({ active: powerPagesActive }) %}

{% set crmActive = currentPath | contains(pages['crm'].url) %}
{% set updatedCRMItem = navigationItems[1] | merge({ active: crmActive }) %}

{% set updatedNavigation = [updatedPowerPagesItem, updatedCRMItem] %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% if pageData.title != "Home" %}
{{ govukServiceNavigation({
  serviceName: "Dynamics 365 Design System",
  serviceUrl: pages['home'].url,
  navigation: updatedNavigation
}) }}
{% endif %}