{% set getting_started = [
  pages["powerpages/getting-started"],
  pages["powerpages/getting-started/branding-standards"],
  pages["powerpages/getting-started/pre-requisites"],
  pages["powerpages/getting-started/set-up-your-custom-website"]
] %}

{% set components = [
  pages["powerpages/components"],
  pages["powerpages/components/attachment"],
  pages["powerpages/components/card"],
  pages["powerpages/components/checkboxes"],
  pages["powerpages/components/contents-list"],
  pages["powerpages/components/dashboard"],
  pages["powerpages/components/date-input"],
  pages["powerpages/components/email-input"],
  pages["powerpages/components/number-input"],
  pages["powerpages/components/radios"],
  pages["powerpages/components/search"],
  pages["powerpages/components/select"],
  pages["powerpages/components/sortable-table"],
  pages["powerpages/components/telephone-input"],
  pages["powerpages/components/textarea"],
  pages["powerpages/components/text-input"],
  pages["powerpages/components/timeline"]
] %}

{% set styles = [
  pages["powerpages/styles"],
  pages["powerpages/styles/layout"]
] %}

{% set patterns = [
  pages["powerpages/patterns"],
  pages["powerpages/patterns/custom-errors"],
  pages["powerpages/patterns/back-link"],
  pages["powerpages/patterns/phase-banner"],
  pages["powerpages/patterns/page-heading"],
  pages["powerpages/patterns/caption-page-heading"],
  pages["powerpages/patterns/crm-helper-framework"]
] %}



{% if currentPath | contains(pages['powerpages/getting-started'].url) %}
<nav class="dfe-vertical-nav">
  <ul class="dfe-vertical-nav__section">
    {% for page in getting_started %}
    <li class="dfe-vertical-nav__section-item {% if page.title === pageData.title %}dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% elseif currentPath | contains(pages['powerpages/components'].url) %}
<nav class="dfe-vertical-nav">
  <ul class="dfe-vertical-nav__section">
    {% for page in components %}
    <li class="dfe-vertical-nav__section-item {% if page.title === pageData.title %}dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% elseif currentPath | contains(pages['powerpages/styles'].url) %}
<nav class="dfe-vertical-nav">
  <ul class="dfe-vertical-nav__section">
    {% for page in styles %}
    <li class="dfe-vertical-nav__section-item {% if page.title === pageData.title %}dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% elseif currentPath | contains(pages['powerpages/patterns'].url) %}
<nav class="dfe-vertical-nav">
  <ul class="dfe-vertical-nav__section">
    {% for page in patterns %}
    <li class="dfe-vertical-nav__section-item {% if page.title === pageData.title %}dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}