{% set powerpages = [
  { title: "Overview", url: pages['powerpages'].url },
  pages['powerpages/getting-started'],
  pages['powerpages/styles'],
  pages['powerpages/components'],
  pages['powerpages/patterns']
] %}

{% set crm = [
  { title: "Overview", url: pages['crm'].url },
  pages['crm/architecture'],
  pages['crm/configuration'],
  pages['crm/customisation'],
  pages['crm/environments'],
  pages['crm/security'],
  pages['crm/other']
] %}

{% if currentPath | contains('/powerpages') %}
  {% set menu = powerpages %}
{% elseif currentPath | contains('/crm') %}
  {% set menu = crm %}
{% endif %}

<div class="govuk-service-navigation {% if showTitlePanel %}govuk-service-navigation--inverse{% endif %}" {% if showTitlePanel %}style="padding-bottom: 20px;"{% endif %} {% if not showTitlePanel %}style="background: white;"{% endif %} data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Power Pages Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="sub-navigation">
          {% for page in menu %}
          <li class="govuk-service-navigation__item {% if page.url == activeUrl %}govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="{{ page.url }}">
              {{ page.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>