{% set powerpages = [
  { title: "Overview", url: pages['powerpages'].url },
  pages['powerpages/getting-started'],
  pages['powerpages/styles'],
  pages['powerpages/components'],
  pages['powerpages/patterns']
] %}

{% set activeUrl = pages['powerpages'].url %}
{% if currentPath %}
  {% if currentPath | contains(pages['powerpages/getting-started'].url) %}
    {% set activeUrl = pages['powerpages/getting-started'].url %}
  {% elseif currentPath | contains(pages['powerpages/styles'].url) %}
    {% set activeUrl = pages['powerpages/styles'].url %}
  {% elseif currentPath | contains(pages['powerpages/components'].url) %}
    {% set activeUrl = pages['powerpages/components'].url %}
  {% elseif currentPath | contains(pages['powerpages/patterns'].url) %}
    {% set activeUrl = pages['powerpages/patterns'].url %}
  {% endif %}
{% endif %}

<div class="govuk-service-navigation {% if showTitlePanel %}govuk-service-navigation--inverse{% endif %}" {% if showTitlePanel %}style="padding-bottom: 20px;"{% endif %} {% if not showTitlePanel %}style="background: #fff;"{% endif %} data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Power Pages Menu" class="govuk-service-navigation__wrapper">
        <ul class="govuk-service-navigation__list" id="sub-navigation">
          {% for page in powerpages %}
          <li class="govuk-service-navigation__item {% if page.url == activeUrl %}govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="{{ page.url }}">
              {{ page.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>