{% set pageName = "Text input" %}
{% set pageDescription = "Use the text input component when you need to let users enter text that's no longer than a single line. When submitting data to CRM, this can be used when the target field is a single line of text field, excluding email and telephone types, which have their own component exammples." %}
{% set selectedNav = "Text input" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

{% endblock %}