// Custom Design Tokens
// =====================

// Typography
$dfe-font-family: 'Inter', sans-serif;

// Code block styling
$code-font-family: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;
