{% set pageName = "Portal design" %}
{% set pageDescription = "Understand how to ensure we design consistent services for Department for Education Dynamics 365 portal users." %}
{% set selectedNav = "Portal design" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<p class="govuk-body">Use this guidance on this site to make your Dynamics 365 (D365) portal service as consistent as possible with 
    Government Design System (GDS) styles, components and patterns.</p>

<h2 class="govuk-heading-l">What's included?</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>Create and set up your portal</li>
    <li>Styles, components and patterns for developers</li>
    <li>Building your custom portal</li>
    <li>Frontend validation for your custom portal</li>
    <li>Using the portal WebApi</li>
</ul>

<h2 class="govuk-heading-l">Experience required</h2>
<ul class="govuk-list govuk-list--bullet">
    <li>Building D365 portals (now PowerApps Portals/PowerPages)</li>
    <li>Creating custom web templates with D365 Portals using the Liquid templating language</li>
    <li>Use of the jQuery JavaScript library</li>
</ul>

<p class="govuk-body"><a class="govuk-link" href="/portal-design/getting-started/">Read the 'Getting started' section</a> before proceeding to build your portal.</p>

<p class="govuk-body">You can <a class="govuk-link" href="mailto:solutionsdevelopment.techdirectorate@education.gov.uk/">contact the Solutions Delivery Team</a> for advice and guidance.</p>

{% endblock %}