{% set pageName = "Download base portal files" %}
{% set pageDescription = "These base files allow you to set up a basic portal configuration with DfE branding and GDS
styles, components and patterns." %}
{% set selectedNav = "Download base portal files" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l" id="summary">Available downloads</h2>

{% include "includes/_downloads.html" %}

{% endblock %}