{% set pageName = "Download core portal files" %}
{% set pageDescription = "These base files allow you to set up a basic portal configuration with DfE or GOV.UK branding styles, components and patterns." %}
{% set selectedNav = "download-portal-files" %}
{% set dateUpdated %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from 'includes/_side-nav.html' import getting_started %}

{% extends "layouts/content-with-sidenav.html" %}

{% set dfeSetupFiles = [
  {
      name: "Web templates",
      url: "/downloads/web-templates/dfe-web-templates",
      linkName: "dfe-web-templates.zip"
  },
  {
      name: "Web files",
      url: "/downloads/web-files/dfe-web-files",
      linkName: "dfe-web-files.zip"
  },
  {
    name: "Content snippets",
    url: "/downloads/content-snippets/dfe-content-snippets",
    linkName: "dfe-content-snippets.zip"
  }
] %}

{% set govukSetupFiles = [
  {
      name: "Web templates",
      url: "/downloads/web-templates/govuk-web-templates",
      linkName: "govuk-web-templates.zip"
  },
  {
      name: "Web files",
      url: "/downloads/web-files/govuk-web-files",
      linkName: "govuk-web-files.zip"
  },
  {
    name: "Content snippets",
    url: "/downloads/content-snippets/govuk-content-snippets",
    linkName: "govuk-content-snippets.zip"
  }
] %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l" id="summary">Download core portal files</h2>

<p class="govuk-body">Choose the appropriate file set for the theme you are using on your PowerPages site.</p>

{% set dfeTableRows = [] %}
{% for dfeFile in dfeSetupFiles %}
  {% set row = [
    {
      text: dfeFile.name
    },
    {
      html: '<a class="govuk-link" href="' + dfeFile.url + '">' + dfeFile.linkName + '</a>'
    }
  ] %}
  {% set _ = dfeTableRows.push(row) %}
{% endfor %}

{{ govukTable({
caption: "DfE theme",
captionClasses: "govuk-table__caption--m",
firstCellIsHeader: true,
head: [
  {
    text: "File group"
  },
  {
    text: "Download"
  }
],
rows: dfeTableRows
}) }}

{% set govukTableRows = [] %}
{% for govukFile in govukSetupFiles %}
  {% set row = [
    {
      text: govukFile.name
    },
    {
      html: '<a class="govuk-link" href="' + govukFile.url + '">' + govukFile.linkName + '</a>'
    }
  ] %}
  {% set _ = govukTableRows.push(row) %}
{% endfor %}

{{ govukTable({
caption: "GOV.UK theme",
captionClasses: "govuk-table__caption--m",
firstCellIsHeader: true,
head: [
  {
    text: "File group"
  },
  {
    text: "Download"
  }
],
rows: govukTableRows
}) }}

{% endblock %}