<div class="govuk-form-group">
  <label class="govuk-label" for="schema-name">
    What is your age?
  </label>
  <input class="govuk-input govuk-input--width-5" id="schema-name" name="schema-name" type="text" spellcheck="false" inputmode="numeric">
</div>