<div class="dfe-print-link govuk-!-display-none-print govuk-!-margin-bottom-3">
  <button class="dfe-print-link__button" type="button">
    <svg class="dfe-print-link__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 18" aria-hidden="true" focusable="false">
      <path d="M14 5H2a2 2 0 0 0-2 2v5h3v4h10v-4h3V7a2 2 0 0 0-2-2zm-1 10H3v-4h10v4zm1-7a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm-1-6H3V0h10v2z"/>
    </svg>
    Print this page
  </button>
</div>
