{% set pageData = pages['powerpages/components/attachment'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_attachment.njk' import attachmentBasicThumbnailTitleMeta,attachmentMultipleMetaCompact, attachmentExpandableDetails %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-use-this-component">When to use this component</a>
      </li> 
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#when-to-not-use-this-component">When to not use this component</a>
      </li>         
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#html-examples">HTML examples</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#basic-attachment">Basic attachment with thumbnail, title, and metadata</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#meta-compact">Attachment with multiple metadata and compact styling</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#expandable-details">Attachment with expandable details</a>
          </li>
        </ol> 
      </li>
    </ol>
  </nav>
</div>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>

<h2 class="govuk-heading-l" id="when-to-not-use-this-component">When to not use this component</h2>
<p class="govuk-body">Avoid using the attachment component for inline content (e.g., code snippets, images), simple links without metadata, non-file media, or in space-constrained layouts where the thumbnail and padding may cause overflow or clutter.</p>

<h2 class="govuk-heading-l" id="html-examples">HTML examples</h2>
<p class="govuk-body">
  Select the appropriate example from this page and directly integrate the HTML into your web template. 
  You can customise these examples to align with your specific requirements, as indicated below.
  Refer to the <a class="govuk-link" href="../layouts">layouts</a> section for further guidance on structuring your web template.
</p>

<h3 class="govuk-heading-m" id="basic-attachment">Basic attachment with thumbnail, title, and metadata</h3>
<p class="govuk-body"> This example shows a simple attachment with a PDF icon, a title, and metadata (file type and size).</p>

{{ attachmentBasicThumbnailTitleMeta() }}

<h3 class="govuk-heading-m" id="meta-compact">Attachment with multiple metadata and compact styling</h3>
<p class="govuk-body">This example includes multiple metadata items (e.g., file type, size, and date) and uses the compact variant.</p>

{{ attachmentMultipleMetaCompact() }}

<h3 class="govuk-heading-m" id="expandable-details">Attachment with expandable details</h3>
<p class="govuk-body">This example includes a <code>govuk-details</code> component for additional information (e.g., accessibility details).</p>

{{ attachmentExpandableDetails() }}

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Dynamics 365 Portals, please contact the Solutions Delivery Team.</p>

{% endblock %}