{% set pageName = "Web templates" %}
{% set pageDescription = "Update and add web templates" %}
{% set selectedNav = "Web templates" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}
<h1 class="govuk-heading-l">Summary</h1>
<p class="govuk-body">Each of the sections below refer to a web template which needs updating or creating to set up your base portal.</p>
<h1 class="govuk-heading-l">Header</h1>
<p class="govuk-body"></p>
{% block content %}

{% endblock %}