{% set pageData = pages['crm/customisation'] %}
{% set showTitlePanel = true %}
{% set showSubNav = true %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% from 'includes/_side-nav.html' import customisation %}

{% block content %}

<p class="govuk-body-l">{{ pageData.title }}</p>

<p class="govuk-body">This section explains how to extend Dynamics 365 in a simple and predictable way, starting with a configuration‑first approach. Teams should use the platform’s built‑in features before moving to low‑code or pro‑code options to keep solutions easy to support and maintain.</p>

<p class="govuk-body">It outlines when to use Business Rules or JavaScript: Business Rules for straightforward form logic, and JavaScript only when more complex behaviour is needed.</p>

<p class="govuk-body">It also explains how to choose between Power Automate and plugins. Power Automate is suitable for basic automation and simple integrations, while plugins are used for synchronous or more complex logic.</p>

<p class="govuk-body">Finally, the section sets expectations for pro‑code development, covering coding standards, maintainability and ensuring custom logic fits cleanly within the service’s solution structure.</p>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">In this section</h2>

<ul class="dfe-component-list">
  {% for page in customisation %}
  {% if page.url != pageData.url %}
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ page.url }}">{{ page.title }}</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ page.description }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>



{% endblock %}
