{% set pageName = "Card" %}
{% set pageDescription = "Use the card component to chunk up related content, data and links. It can also be used to highlight content on a page." %}
{% set selectedNav = "Card" %}
{% set dateUpdated = "July 2023" %}

{% from 'includes/components/_panel-card.njk' import panelCardExample, panelCardLinkExample, panelCardGridExample %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">When to use this component</h2>
<p class="govuk-body">Use the card component to chunk up related content, data and links. They can also be used to highlight content on a page.</p>

<h2 class="govuk-heading-l">How it works</h2>

{{ panelCardExample() }}

<h3 class="govuk-heading-m">Copy and amend the HTML examples</h3>
<p class="govuk-body">Choose the appropriate example from this page and copy the HTML directly into your web template. <a class="govuk-link" href="../layouts">Read about layouts</a>

<h3 class="govuk-heading-m">Including hyperlinks</h3>
<p class="govuk-body">If you are including a hyperlink in your panel card component use the <code>dfe-panel__link</code> class within your <code>&lt;a&gt;</code> tag.</p>

{{ panelCardLinkExample() }}

<h3 class="govuk-heading-m">Component layout</h3>
<p class="govuk-body">A panel card and be positioned anywhere on a page.</p>
<p class="govuk-body">The panel card by default will be the same width as the page's other content. For example, if the other content takes up two-thirds of the screen on 
  desktop devices, then the panel card component will also take up two-thirds. If you wish to make the panel cards smaller, confine the component within a grid system. 
  <a class="govuk-link" href="#" target="_blank">Read about grid systems (opens in a new tab)</a>.</p>
<p class="govuk-body">The example below shows 3 panel card components in a 3 column grid row.</p>

{{ panelCardGridExample() }}

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Dynamics 365 Portals, please contact the Solutions Delivery Team.</p>

{% endblock %}