{% set pageData = pages['powerpages/components/sortable-table'] %}
{% set showHeaderSection = true %}
{% set showSubNav = true %}
{% set dateUpdated = "March 2024" %}

{% from 'includes/components/_table-sortable.njk' import sortableTableExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}
<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item dfe-contents-list__list-item--parent">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-use-this-component">When to use this component</a>
      </li>          
      <li class="dfe-contents-list__list-item dfe-contents-list__list-item--parent">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-not-use-this-component">When to not use this component</a>
      </li>
      <li class="dfe-contents-list__list-item dfe-contents-list__list-item--parent">
        <a class="dfe-contents-list__link govuk-link" href="#how-it-works">How it works</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#html-copy">Copy and amend the HTML examples</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#one-question">If you are asking one question on the page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#more-than-one-question">If you are asking more than one question on the page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#using-hint-text">Using hint text</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#error-messages">Error messages</a>
          </li>
        </ol> 
      </li>
    </ol>
  </nav>
</div>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>

<h2 class="govuk-heading-l" id="when-to-not-use-this-component">When to not use this component</h2>
<p class="govuk-body">The select component allows users to choose an option from a long list. Before using the select component, try asking users questions which will 
  allow you to present them with fewer options.</p>
<p class="govuk-body">Asking questions means you're less likely to need to use the select component, and can consider using a different solution, such as <a class="govuk-link" href="./radios">radios</a>.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<p class="govuk-body">If you use the select component for settings, you can make an option pre-selected by default when users first see it.</p>
<p class="govuk-body">If you use the select component for questions, you should not pre-select any of the options in case it influences users' answers.</p>

<h3 class="govuk-heading-m" id="html-copy">Copy and amend the HTML examples</h3>
<p class="govuk-body">Choose the appropriate example from this page and copy the HTML directly into your web template. <a class="govuk-link" href="../layouts">Read about layouts</a>
  for more information about how to structure your web template.</p>
<p class="govuk-body">If the component needs to submit to a field in CRM, replace the highlighted <code>schema-name</code> text in the example 
  HTML with the target field schema name. <strong>Do not</strong> remove any prepended or appended text to the schema name. For example, if the id attribute is 
  displayed as <code>schema-name-error</code> in the example, the value should still contain <code>-error</code> after the schema name has been replaced (<code>dfe_field-error</code>).</p>
<p class="govuk-body">This step is essential for the custom portal helper framework to validate and submit data to CRM. <a class="govuk-link" href="">Read about data validation and submitting data to CRM</a>.</p>

{{ sortableTableExample() }}

{% endblock %}