<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="schema-name">
      What is your telephone number?
    </label>
  </h1>
  <div id="schema-name-hint" class="govuk-hint">
    For international numbers include the country code
  </div>
  <input class="govuk-input govuk-input--width-20" id="schema-name" name="schema-name" type="tel" autocomplete="tel" aria-describedby="schema-name-hint">
</div>
