<div class="govuk-form-group">
  <label class="govuk-label" for="schema-name">
    What is your telephone number?
  </label>
  <input class="govuk-input govuk-input--width-20" id="schema-name" name="schema-name" type="tel" autocomplete="tel">
</div>