{% set pageName = "Search" %}
{% set pageDescription = "Use the search component when you need to let users search and select a record from a database table. e.g. A users might enter a Companies House Number to find an account. When submitting data to CRM, the target field should be a lookup to the selected record." %}
{% set selectedNav = "Search" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

{% endblock %}