<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="schema-name">
      What is your name?
    </label>
  </h1>
  <input class="govuk-input" id="schema-name" name="schema-name" type="text" spellcheck="false">
</div>