{% set pageData = pages['powerpages/components/radios'] %}
{% set showHeaderSection = true %}
{% set showSubNav = true %}
{% set dateUpdated = "April 2025" %}

{% from 'includes/components/_radios.njk' import radiosHeaderExample, radiosStandardExample, radiosHintExample, radiosInlineExample, radiosConditionalExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}
<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-use-this-component">When to use this component</a>
      </li>          
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-not-use-this-component">When to not use this component</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#how-it-works">How it works</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#html-examples">HTML examples</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#single-question">For single question pages</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#multiple-question">For multiple question pages</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#using-hint-text">Using hint text</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#inline-radios">Inline radios</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#conditional-questions">Conditionally revealing a related question</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#additional-examples">Additional examples</a>
          </li>
        </ol>  
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#error-messages">Error messages</a>
      </li>  
    </ol>
  </nav>
</div>

<h2 class="govuk-heading-m" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>

<h2 class="govuk-heading-m" id="when-to-not-use-this-component">When to not use this component</h2>
<p class="govuk-body">Do not use the radios component if users might need to select more than one option. In this case, you should use the checkboxes component instead.</p>

<h2 class="govuk-heading-m" id="how-it-works">How it works</h2>
<p class="govuk-body">Always position radios to the left of their labels. This makes them easier to find, especially for users of screen magnifiers.</p>
<p class="govuk-body">
  Unlike with checkboxes, users can only select one option from a list of radios. Do not assume that users will know how many options they can select based on the visual difference between radios and checkboxes alone. If needed, add a hint explaining this, for example, 'Select one option'.
</p>
<p class="govuk-body">Do not pre-select radio options as this makes it more likely that users will not realise they've missed a question or submitted the wrong answer.</p>
<p class="govuk-body">Users cannot go back to having no option selected once they have selected one, without refreshing their browser window. Therefore, you should include 'None of the above' or 'I do not know' if they are valid options.</p>  
<p class="govuk-body">Order radio options alphabetically by default.</p>

<h2 class="govuk-heading-m" id="html-examples">HTML examples</h2>
<p class="govuk-body">
  Select the appropriate example from this page and directly integrate the HTML into your web template. 
  You can customise these examples to align with your specific requirements, as indicated below.
  Refer to the <a class="govuk-link" href="../layouts">layouts</a> section for further guidance on structuring your web template.
</p>
<p class="govuk-body">
  If the component requires submission to a CRM field, ensure to replace the placeholder <code>schema-name</code> text in the HTML example with the actual target field schema name. 
  Retain any prefixed or suffixed text related to the schema name. 
  For instance, if the id attribute reads <code>schema-name-hint</code> in the example, ensure the replacement maintains the <code>-hint</code> suffix (e.g. <code>dfe_field-hint</code>).
</p>

<p class="govuk-body">
  This step is crucial for allowing the <a class="govuk-link" href="">CRM helper framework</a> to validate and submit data to CRM.
</p>

<h3 class="govuk-heading-s" id="single-question">For single question pages</h3>
<p class="govuk-body">
  If presenting only one question on the page, designate the contents of the <code>label</code> as the page heading. 
  This practice ensures users of screen readers hear the contents only once.
</p>

<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to remove the default page header and avoid duplication.</p>

{{ radiosHeaderExample() }}

<h3 class="govuk-heading-s" id="multiple-question">For multiple question pages</h3>
<p class="govuk-body">If presenting more than one question on the page, do not set the contents of the <code>&lt;legend&gt;</code> as the page heading.</p>

{{ radiosStandardExample() }}

<h3 class="govuk-heading-s" id="using-hint-text">Using hint text</h3>
<p class="govuk-body">
  Use hint text to provide relevant assistance to the majority of users, such as clarifying how their information will be used or where to locate it. 
  The hint text block is demonstrated in the example below.
</p>
<p class="govuk-body">Please ensure the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Use the hint text block appropriately</li>
  <li>Place the hint block correctly within your HTML component</li>
  <li>Add the <code>aria-describedby</code> attribute where necessary, for accessiblity. For radios this is against the <code>fieldset</code>.</li>
</ul>
<p class="govuk-body">
  Avoid lengthy paragraphs and lists in hint text, as screen readers will read out the entire content, potentially frustrating users. 
  Additionally, refrain from including links within hint text, as screen readers do not indicate that the text is a clickable link.
</p>

{{ radiosHintExample() }}

<h3 class="govuk-heading-s" id="inline-radios">Inline radios</h3>
<p class="govuk-body">
  In some cases, you can choose to display radios 'inline' beside one another (horizontally).
  Only use inline radios when the question only has two options or both options are short.
</p>
<p class="govuk-body">On small screens such as mobile devices, the radios will still be 'stacked' on top of one another (vertically).</p>

{{ radiosInlineExample() }}

<h3 class="govuk-heading-s" id="conditional-questions">Conditionally revealing a related question</h3>
<p class="govuk-body">You can ask the user a related question when they select a particular radio option, so they only see the question when it's relevant to them.</p>
<p class="govuk-body">This might make two related questions easier to answer by grouping them on the same page. For example, you could reveal a phone number input when the user selects the 'Contact me by phone' option.</p>
<p class="govuk-body">If the related question is complicated or has more than one part, show it on the next page in the process instead.</p>
<p class="govuk-body">Do not conditionally reveal questions to inline radios, such as 'yes' and 'no' options placed next to each other.</p>
<p class="govuk-body">Conditionally reveal questions only - do not show or hide anything that is not a question.</p>

<div class="govuk-inset-text">
  <p class="govuk-body">
    Your schema names are likely to be different for your related questions. Using the above code example as reference, your 'Text message' option and related 'Mobile phone number' input 
    are likely to have different schema names if you are submitting both values to fields in the CRM database. Be aware of this when replacing the 'schema-name' placeholder values.
  </p>
</div>

{{ radiosConditionalExample() }}

<h3 class="govuk-heading-s" id="additional-examples">Additional examples</h3>
<p class="govuk-body">Additional examples can be found on the GOV.UK Design System:</p>
<ul class="govuk-list">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/radios#radio-items-with-a-text-divider">Radio items with a text divider</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/radios#smaller-radios">Smaller radios</a></li>
</ul>
<p class="govuk-body">
  These examples will eventually be incorporated into this guidance, demonstrating how to use each of these additional examples with Power Pages. 
  If you require assistance in the interim to adapt these additional examples for use with Power Pages and the CRM helper framework, please contact the Solutions Delivery Team.
</p>

<h2 class="govuk-heading-m" id="error-messages">Error messages</h2>
<p class="govuk-body">
  An error message is displayed next to the field and in the error summary when a validation error occurs. 
  The CRM helper framework automatically handles error messages for specific error states, therefore you do not need to add any additional error containers to your HTML. 
  <a class="govuk-link" href="#">Refer to the CRM helper framework guide</a> to understand how to validate your front-end data.
</p>

<p class="govuk-body">Ensure that your component HTML and your <a class="govuk-link" href="#">inputs validation JavaScript object</a> are structured correctly for your component type.</p>

<p class="govuk-body">
  Occasionally you may wish to employ error messages outside of the validation process. 
  You can <a class="govuk-link" href="">read about the functions available within the CRM helper framework</a> to assist you with this.
</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Power Pages, please contact the Solutions Delivery Team.</p>

<script type="text/javascript" src="/assets/js/update-html-example.js"></script>

{% endblock %}

