{% set pageName = "Email input" %}
{% set pageDescription = "Use the email input component when allowing users to input their email address. When submitting data to CRM, this component is suitable for single line of text of type email target field." %}
{% set selectedNav = "Email input" %}
{% set dateUpdated = "March 2024" %}

{% from 'includes/components/_email-input.njk' import emailHeaderExample, emailStandardExample, emailHintExample %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}
<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-use-this-component">When to use this component</a>
      </li>          
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-not-use-this-component">When to not use this component</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#how-it-works">How it works</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#html-examples">HTML examples</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#single-question">For single question pages</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#multiple-question">For multiple question pages</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#hint-text">Using hint text</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#additional-examples">Additional examples</a>
          </li>
        </ol> 
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#error-messages">Error messages</a>
      </li>
    </ol>
  </nav>
</div>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageDescription }}</p>

<h2 class="govuk-heading-l" id="when-to-not-use-this-component">When to not use this component</h2>

<p class="govuk-body">Do not use the email input component for any other purpose than allowing users to enter an email address.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>

<p class="govuk-body">All email inputs must have labels, and in most cases the label should be visible.</p>

<p class="govuk-body">
  Labels are aligned above the text input they refer to. 
  They should be short, direct and written in sentence case. 
  Do not use colons at the end of labels.
</p>

<h3 class="govuk-heading-s" id="placeholder-text">Avoid placeholder text</h3>

<p class="govuk-body">Do not use placeholder text in place of a label, or for hints or examples, as:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>it vanishes when the user starts typing, which can cause problems for users with memory conditions or when reviewing answers</li>
  <li>not all screen readers read it out</li>
  <li>its browser default styles often do not meet minimum contrast requirements</li>
</ul>

<h2 class="govuk-heading-l" id="html-examples">HTML examples</h2>

<p class="govuk-body">
  Select the appropriate example from this page and directly integrate the HTML into your web template. 
  You can customise these examples to align with your specific requirements, as indicated below.
  Refer to the <a class="govuk-link" href="../layouts">layouts</a> section for further guidance on structuring your web template.
</p>

<p class="govuk-body">
  If the component requires submission to a CRM field, ensure to replace the placeholder <code>schema-name</code> text in the HTML example with the actual target field schema name. 
  Retain any prefixed or suffixed text related to the schema name. 
  For instance, if the id attribute reads <code>schema-name-hint</code> in the example, ensure the replacement maintains the <code>-hint</code> suffix (e.g. <code>dfe_field-hint</code>).
</p>

<p class="govuk-body">
  This step is crucial for allowing the <a class="govuk-link" href="">portal helper framework</a> to validate and submit data to CRM.
</p>

<h3 class="govuk-heading-s" id="single-question">For single question pages</h3>

<p class="govuk-body">
  If presenting only one question on the page, designate the contents of the <code>label</code> as the page heading. 
  This practice ensures users of screen readers hear the contents only once.
</p>

<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to remove the default page header and avoid duplication.</p>

{{ emailHeaderExample() }}

<h3 class="govuk-heading-s" id="multiple-question">For multiple question pages</h3>

<p class="govuk-body">If presenting more than one question on the page, do not set the contents of the <code>label</code> as the page heading.</p>

{{ emailStandardExample() }}

<h3 class="govuk-heading-s" id="hint-text">Using hint text</h3>

<p class="govuk-body">
  Use hint text to provide relevant assistance to the majority of users, such as clarifying how their information will be used or where to locate it. 
  The hint text block is demonstrated in the example below.
</p>

<p class="govuk-body">Please ensure the following:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Use the hint text block appropriately</li>
  <li>Place the hint block correctly within your HTML component</li>
  <li>Add the <code>aria-describedby</code> attribute where necessary, for accessiblity. For the email component this is against the <code>input</code>.</li>
</ul>

<p class="govuk-body">
  Avoid lengthy paragraphs and lists in hint text, as screen readers will read out the entire content, potentially frustrating users. 
  Additionally, refrain from including links within hint text, as screen readers do not indicate that the text is a clickable link.
</p>

{{ emailHintExample() }}

<h2 class="govuk-heading-l" id="error-messages">Error messages</h2>

<p class="govuk-body">
  An error message is displayed next to the field and in the error summary when a validation error occurs. 
  The portal helper framework automatically handles error messages for specific error states, therefore you do not need to add any additional error containers to your HTML. 
  <a class="govuk-link" href="#">Refer to the portal helper framework guide</a> to understand how to validate your front-end data.
</p>

<p class="govuk-body">Ensure that your component HTML and your <a class="govuk-link" href="#">inputs validation JavaScript object</a> are structured correctly for your component type.</p>

<p class="govuk-body govuk-!-font-weight-bold">If nothing is entered and a value is required</p>

<p class="govuk-body">
  'Enter [whatever it is].<br>
  For example, 'Enter your work email address'.
</p>

<p class="govuk-body govuk-!-font-weight-bold">If the input is not a valid email format</p>

<p class="govuk-body">'Enter a valid email address'.</p>

<p class="govuk-body">
  Occasionally you may wish to employ error messages outside of the validation process. 
  You can <a class="govuk-link" href="">read about the functions available within the portal helper framework</a> to assist you with this.
</p>

{% if includeScript %}
<script src="/assets/js/updateHtmlExample.min.js"></script>
{% endif %}

{% endblock %}