<ol class="dfe-timeline">
  <li class="dfe-timeline__event">
    <h2 class="dfe-timeline__event-title">Application submitted</h2>
    <span class="dfe-timeline__event-meta">15 January 2024</span>
    <span class="dfe-timeline__event-content">Your application has been received and is being processed.</span>
  </li>
  <li class="dfe-timeline__event">
    <h2 class="dfe-timeline__event-title">Documents uploaded</h2>
    <span class="dfe-timeline__event-meta">10 January 2024</span>
    <span class="dfe-timeline__event-content">Supporting documents have been added to your application.</span>
  </li>
  <li class="dfe-timeline__event">
    <h2 class="dfe-timeline__event-title">Application started</h2>
    <span class="dfe-timeline__event-meta">5 January 2024</span>
    <span class="dfe-timeline__event-content">You began your application process.</span>
  </li>
</ol>
