<form method="get" action="{{ page.url }}">
  <div class="dfe-filter-panel" data-module="dfe-filter-panel">
    <!-- Filter panel content -->
    <div class="dfe-filter-panel__actions">
      <button type="submit" class="govuk-button dfe-filter-panel__action dfe-filter-panel__action--submit">
        Apply filters
      </button>
    </div>
  </div>
</form>