<aside class="dfe-sidebar">
  <div class="dfe-sidebar-section">
    <h2 class="dfe-sidebar-section__main-heading">Related links</h2>
    <div class="dfe-sidebar-section__content">
      <ul class="dfe-sidebar-section__list">
        <li class="dfe-sidebar-section__list-item">
          <a class="govuk-link dfe-sidebar-section__link" href="#">Guidance document</a>
        </li>
        <li class="dfe-sidebar-section__list-item">
          <a class="govuk-link dfe-sidebar-section__link" href="#">Application form</a>
        </li>
        <li class="dfe-sidebar-section__list-item">
          <a class="govuk-link dfe-sidebar-section__link" href="#">Contact support</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="dfe-sidebar-section">
    <h2 class="dfe-sidebar-section__main-heading">Contact</h2>
    <div class="dfe-sidebar-section__content">
      <p class="govuk-body-s">Email: <a class="govuk-link" href="mailto:support@example.gov.uk">support@example.gov.uk</a></p>
      <p class="govuk-body-s">Phone: 0800 123 4567</p>
    </div>
  </div>
</aside>
