{% set pageName = "Date input" %}
{% set pageDescription = "Use the date input component to help users enter a memorable date or one they can easily look up. When submitting data to CRM, this can be used when the target field is a date type." %}
{% set selectedNav = "Date input" %}
{% set dateUpdated = "July 2023" %}

{% from 'includes/components/_date-input.njk' import dateHeaderExample, dateStandardExample, dateAutocompleteExample %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">When to use this component</h2>
<p class="govuk-body">{{ pageDescription }}</p>

<h2 class="govuk-heading-l">When to not use this component</h2>
<p class="govuk-body">Do not use the date input component if users are unlikely to know the exact date of the event you're asking about.</p>

<h2 class="govuk-heading-l">How it works</h2>
<p class="govuk-body">The date input component consists of 3 fields to let users enter a day, month and year.</p>
<p class="govuk-body">Make sure that any example dates you use in hint text are valid for the question being asked.</p>

<h3 class="govuk-heading-s">Copy and amend the HTML examples</h3>
<p class="govuk-body">Choose the appropriate example from this page and copy the HTML directly into your web template. <a class="govuk-link" href="../layouts">Read about layouts</a>
  for more information about how to structure your web template.</p>
<p class="govuk-body">If the component needs to submit to a field in CRM, replace the highlighted <code>schema-name</code> text in the example 
  HTML with the target field schema name. <strong>Do not</strong> remove any prepended or appended text to the schema name. For example, if the id attribute is 
  displayed as <code>schema-name-day</code> in the example, the value should still contain <code>-day</code> after the schema name has been replaced (<code>dfe_field-day</code>).</p>
<p class="govuk-body">This step is essential for the custom portal helper framework to validate and submit data to CRM. <a class="govuk-link" href="">Read about data validation and submitting data to CRM</a>.</p>

<h3 class="govuk-heading-m">If you are asking one question on the page</h3>
<p class="govuk-body">If you are asking just one question on the page, set the contents of the <code>&lt;legend&gt;</code> as the page heading. This is good practice as it 
  means that users of screen readers will only hear the contents once.</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to override the default page header.</p>

{{ dateHeaderExample() }}

<h3 class="govuk-heading-m">If you are asking more than one question on the page</h3>
<p class="govuk-body">If you're asking more than one question on the page, do not set the contents of the <code>&lt;legend&gt;</code> as the page heading.</p>

{{ dateStandardExample() }}

<h3 class="govuk-heading-m">Use the autocomplete attribute for a date of birth</h3>
<p class="govuk-body">Use the autocomplete attribute on the date input component when you're asking for a date of birth. This lets browsers autofill the information on a 
  user's behalf if they've entered it previously.</p>
<p class="govuk-body">To do this, set the <code>autocomplete</code> attribute on the 3 inputs to <code>bday-day</code>, <code>bday-month</code> and <code>bday-year</code>.</p>

{{ dateAutocompleteExample() }}

<h3 class="govuk-heading-m">Error messages</h3>
<p class="govuk-body">An error message is shown next to the field and in the error summary when there is a validation error. The HTML content for these errors is already 
  included in the component examples and in the base portal web template set up, therefore you do not need to add any additional error containers to your page.</p>
<p class="govuk-body">The <a class="govuk-link" href="#">portal helper framework</a> validation process automatically handles error messages for specific error states.</p>
<p class="govuk-body govuk-!-font-weight-bold">If nothing is entered</p>
<p class="govuk-body">'Enter [whatever it is].<br><br>For example, 'Enter your date of birth'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the date is incomplete</p>
<p class="govuk-body">'[whatever it is] must include a [whatever is missing]'.<br><br>For example, 'Date of birth must include a month', 'Date of birth must include a day and month'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If one or more date inputs are not valid</p>
<p class="govuk-body">'[whatever it is] must contain a valid [whatever input is invalid]'.<br><br>For example, 'Date of birth must contain a valid month', 'Date of birth must contain a valid day and month'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the date entered cannot be correct (for example, 31st February)</p>
<p class="govuk-body">'[whatever it is] must be a real date'.<br><br>For example, 'Date of birth must be a real date'.</p>

<p class="govuk-body">Occasionally you may wish to use error messages outside of the validation process. You can <a class="govuk-link" href="">read about the functions available within the portal helper framework</a> to help you with this.</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Dynamics 365 Portals, or with the portal helper framework, please contact the Solutions Delivery Team.</p>

{% endblock %}