<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#">Page 1</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#">Page 2</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#">Child page 1</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#">Child page 2</a>
          </li>
        </ol>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#">Page 3</a>
      </li>
    </ol>
  </nav>
</div>