{% set pageData = pages['powerpages/getting-started'] %}
{% set showTitlePanel = true %}
{% set showSubNav = true %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% from 'includes/_side-nav.html' import getting_started %}

{% block content %}

<p class="govuk-body-l">{{ pageData.description }}</p>

<p class="govuk-body">This section provides guidance on setting up your Power Pages environment to work with the GOV.UK Design System. It covers the foundational elements you need to configure before building your portal, including template structures, JavaScript frameworks, and essential configurations.</p>

<p class="govuk-body">Whether you're starting a new portal or adapting an existing one, these guides will help you establish a solid foundation for building accessible, user-centred services that align with government design standards.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">In this section</h2>

<ul class="dfe-component-list">
  {% for page in getting_started %}
  {% if page.url != pageData.url %}
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ page.url }}">{{ page.title }}</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ page.description }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>

{% endblock %}
