// Attachment Component
// =====================

.dfe-attachment {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  position: relative;

  @media print {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }

  @media (min-width: 40.0625em) {
    font-size: 19px;
    line-height: 1.3157894737;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  .govuk-details {
    margin: 15px 0;
  }
}

.dfe-attachment__thumbnail {
  position: relative;
  width: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  padding: 5px;
  float: left;
}

.dfe-attachment__thumbnail-image {
  display: block;
  width: auto;
  max-width: 99px;
  height: 140px;
  border: rgba(11, 12, 12, .1);
  outline: 5px solid rgba(11, 12, 12, .1);
  background: govuk-colour("white");
  box-shadow: 0 2px 2px rgba(11, 12, 12, .4);
  fill: $govuk-border-colour;
  stroke: $govuk-border-colour;
}

.dfe-attachment__details {
  padding-left: 134px;
  word-break: break-word;
  word-wrap: break-word;
}

.dfe-attachment__title {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1111111111;
  margin: 0 0 15px;

  @media print {
    font-family: sans-serif;
    font-size: 18pt;
    line-height: 1.15;
  }

  @media (min-width: 40.0625em) {
    font-size: 27px;
  }
}

.dfe-attachment__link {
  line-height: 1.29;
}

.dfe-attachment__metadata {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 0 15px;
  color: $govuk-secondary-text-colour;

  @media print {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }

  @media (min-width: 40.0625em) {
    font-size: 19px;
    line-height: 1.3157894737;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .dfe-attachment__attribute {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &--compact {
    margin-bottom: 0;
  }
}

.dfe-attachment__abbr {
  text-decoration: none;
  cursor: help;
}
