// Card Component
// ===============

.dfe-grid-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;

  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
}

.dfe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: govuk-colour("white");
  border: 1px solid $govuk-border-colour;
  max-width: 400px;

  @include mq($until: tablet) {
    max-width: 100%;
  }

  > picture,
  > picture > img {
    max-width: 100%;
  }

  &:hover,
  &:focus-within {
    background-color: $govuk-link-hover-colour;

    a,
    p,
    .govuk-heading-m {
      color: govuk-colour("white");
    }
  }

  &:focus-within {
    outline: 3px solid $govuk-focus-colour;
  }
}

.dfe-card-container {
  padding: govuk-spacing(4);
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  :last-child {
    margin-top: auto;
  }

  h2 + p:last-child,
  h3 + p:last-child {
    margin-top: 0;
  }

  .dfe-card-link--retake:focus,
  .dfe-card-link--header:focus {
    color: $govuk-focus-text-colour;
  }
}

.dfe-card-link--retake {
  position: relative;
  z-index: 2;
}

.dfe-card-link--header {
  text-decoration: none;
  color: $govuk-brand-colour;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
