// Copy Code Button
// =================
// Overlay style - positioned inside the code block (top-right)

// Code block container styling
pre {
  position: relative;
  margin-bottom: govuk-spacing(4);
  padding: 0;
  background-color: govuk-colour("light-grey");
  border: 1px solid $govuk-border-colour;

  // The code element inside handles the actual content padding
  // Using code.hljs to override highlight.js theme padding
  code,
  code.hljs {
    display: block;
    padding: govuk-spacing(4);
    padding-top: govuk-spacing(8); // Extra space for the copy button
    overflow-x: auto;
  }
}

.copy-code-button {
  $copy-button-colour: govuk-colour("green");

  position: absolute;
  top: govuk-spacing(2);
  right: govuk-spacing(2);
  z-index: 1;

  // Original green outline styling
  @include govuk-font($size: 16);
  min-width: 110px;
  padding: 4px 10px 2px 10px;
  border: 1px solid $copy-button-colour;
  color: $copy-button-colour;
  background-color: govuk-colour("white");
  box-shadow: 0 2px 0 0 $copy-button-colour;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: govuk-tint($copy-button-colour, 90);
  }

  &:focus {
    outline: 3px solid govuk-colour("yellow");
    outline-offset: 0;
    background-color: govuk-colour("yellow");
    box-shadow: 0 2px 0 0 govuk-colour("black");
    color: govuk-colour("black");
    border-color: govuk-colour("black");
  }

  &:active {
    margin-top: 2px;
    box-shadow: none;
  }

  // Success state - filled green
  &--copied {
    background-color: $copy-button-colour;
    color: govuk-colour("white");
  }
}
