// Dashboard Component
// ====================

.dfe-dashboard,
.dfe-dashboard-dark,
.dfe-dashboard-light,
.dfe-dashboard-label,
.dfe-dashboard-number,
.dfe-dashboard-smaller,
.dfe-dashboard-smallest,
.dfe-dashboard-with-status {
  display: block;
}

.dfe-dashboard-number {
  font-size: 32px;
  font-size: clamp(2rem, 18cqi, 3rem);
  font-variant-numeric: tabular-nums;
  font-weight: 700;

  @media (max-width: 40.0525em) {
    font-size: 2rem;
  }
}

.dfe-dashboard-label {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  padding-bottom: 10px;

  @media print {
    font-family: sans-serif;
  }

  @media (min-width: 40.0625em) {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }

  @media print {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.pill .dfe-dashboard-number {
  padding-left: 5px;

  @media (min-width: 26.25em) {
    padding-left: 10px;
  }
}

.dfe-dashboard-dark {
  background: govuk-colour("black");
  color: govuk-colour("white");
  container-type: inline-size;
  padding: 15px;
  position: relative;

  .dfe-dashboard-number {
    font-size: 24px;
    font-size: clamp(1.5rem, 18cqi, 2.25rem);
    font-variant-numeric: tabular-nums;
    font-weight: 700;

    @media (max-width: 40.0525em) {
      font-size: 1.5rem;
    }
  }
}

.dfe-dashboard-light {
  background: govuk-colour("white");
  color: govuk-colour("black");
  border: 1px solid govuk-colour("black");
  container-type: inline-size;
  padding: 15px;
  position: relative;

  .dfe-dashboard-number {
    font-size: 24px;
    font-size: clamp(1.5rem, 18cqi, 2.25rem);
    font-variant-numeric: tabular-nums;
    font-weight: 700;

    @media (max-width: 40.0525em) {
      font-size: 1.5rem;
    }
  }
}

.dfe-dashboard-smaller {
  container-type: inline-size;

  .dfe-dashboard-number {
    font-size: 24px;
    font-size: clamp(1.5rem, 18cqi, 2.25rem);
    font-variant-numeric: tabular-nums;
    font-weight: 700;

    @media (max-width: 40.0525em) {
      font-size: 1.5rem;
    }
  }
}

.dfe-dashboard-smallest {
  container-type: inline-size;

  .dfe-dashboard-number {
    font-size: 18px;
    font-size: clamp(1.125rem, 18cqi, 1.5rem);
    font-variant-numeric: tabular-nums;
    font-weight: 700;

    @media (max-width: 40.0525em) {
      font-size: 1.125rem;
    }
  }
}

.dfe-dashboard-with-status {
  margin-bottom: 20px;
  position: relative;

  .dfe-dashboard,
  .dfe-dashboard-smaller {
    background: govuk-colour("black");
    color: govuk-colour("white");
    padding: 15px;
    position: relative;
  }

  .dfe-dashboard-label {
    padding-bottom: 0;

    &:link,
    &:visited {
      color: $govuk-link-colour;
    }
  }

  .dfe-dashboard-link {
    background: $govuk-link-colour;
    border: 2px solid $govuk-link-colour;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;

    &:hover .dfe-dashboard-label {
      text-decoration-skip-ink: none;
      text-decoration-thickness: max(3px, .1875rem, .12em);
      text-decoration-skip: none;
    }

    &:active,
    &:focus {
      background: govuk-colour("yellow");
      border: none;
      box-shadow: inset 0 -4px govuk-colour("black");
      padding: 2px;

      .dfe-dashboard-label,
      .dfe-dashboard-number,
      .dfe-dashboard-smaller {
        color: govuk-colour("black");
        text-decoration: none;
      }
    }

    .dfe-dashboard,
    .dfe-dashboard-smaller {
      background: transparent;
    }

    .dfe-dashboard-label {
      text-decoration: underline;
      text-decoration-thickness: max(1px, .0625rem);
      text-underline-offset: .1578em;
    }
  }

  .dfe-dashboard-status,
  .dfe-dashboard-status-failing {
    font-family: $govuk-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: govuk-colour("green");
    color: govuk-colour("white");
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 15px;

    @media print {
      font-family: sans-serif;
    }

    @media (min-width: 40.0625em) {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }

    @media print {
      font-size: 14pt;
      line-height: 1.15;
    }
  }

  .dfe-dashboard-status--with-link {
    padding: 0;

    > .govuk-link {
      display: block;
      padding: 15px;

      &:active,
      &:focus {
        box-shadow: inset 0 -4px govuk-colour("black");
      }

      &:active {
        background-color: govuk-colour("yellow");
        color: govuk-colour("black");
        text-decoration: none;
      }
    }
  }

  .dfe-dashboard-status-failing {
    background: govuk-colour("red");
  }
}
