// Print Link Component
// ====================
// A button that triggers the browser print dialog

.dfe-print-link {
  display: none;

  &.dfe-print-link--show-without-js {
    display: block;
  }
}

.govuk-frontend-supported .dfe-print-link {
  display: block;
}

.dfe-print-link__button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid $govuk-secondary-text-colour;
  background: transparent;
  color: $govuk-link-colour;
  cursor: pointer;
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-decoration: none;

  @media (min-width: 40.0625em) {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }

  @media print {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.15;
  }

  &:hover {
    background-color: govuk-colour("light-grey");
    color: $govuk-link-hover-colour;
  }

  &:focus {
    outline: 3px solid transparent;
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    text-decoration: none;
    border-color: transparent;
  }

  &:active {
    color: $govuk-link-active-colour;
  }
}

.dfe-print-link__icon {
  width: 16px;
  height: 18px;
  fill: currentColor;
  flex-shrink: 0;
}
