// Sortable Table Component
// =========================

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  color: $govuk-brand-colour;
  cursor: pointer;
  font-family: $govuk-font-family;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 10px 0 0;
  position: relative;
  text-align: inherit;
  margin: 0;
}

[aria-sort] button:focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;
}

[aria-sort]:first-child button {
  right: auto;
}

[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -2px;
  top: 12px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -2px;
  top: 3px;
  font-size: 0.5em;
}

[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -6px;
  top: 4px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -6px;
  top: 4px;
}
