{% set pageData = pages['powerpages/getting-started'] %}
{% set showTitlePanel = true %}
{% set showSubNav = true %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% from 'includes/_side-nav.html' import getting_started %}

{% block content %}

<h2 class="govuk-heading-m">Summary</h2>

<p class="govuk-body">{{ pageData.description }}</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Section</th>
        <th scope="col" class="govuk-table__header">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for page in getting_started %}
     {% if page.url != pageData.url %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a class="govuk-link" href="{{ page.url }}">{{ page.title }}</a></th>
        <td class="govuk-table__cell">{{ page.description }}</td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% endblock %}