<ul class="dfe-chevron-card__list">
  <li class="dfe-chevron-card">
    <div class="dfe-chevron-card__wrapper">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Overview
        </a>
      </h3>
      <a class="dfe-chevron-card__link" href="#" aria-hidden="true" tabindex="-1">
        <span class="govuk-visually-hidden">Overview</span>
      </a>
    </div>
  </li>
  <li class="dfe-chevron-card">
    <div class="dfe-chevron-card__wrapper">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Eligibility
        </a>
      </h3>
      <a class="dfe-chevron-card__link" href="#" aria-hidden="true" tabindex="-1">
        <span class="govuk-visually-hidden">Eligibility</span>
      </a>
    </div>
  </li>
  <li class="dfe-chevron-card">
    <div class="dfe-chevron-card__wrapper">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          How to apply
        </a>
      </h3>
      <a class="dfe-chevron-card__link" href="#" aria-hidden="true" tabindex="-1">
        <span class="govuk-visually-hidden">How to apply</span>
      </a>
    </div>
  </li>
  <li class="dfe-chevron-card">
    <div class="dfe-chevron-card__wrapper">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          Contact us
        </a>
      </h3>
      <a class="dfe-chevron-card__link" href="#" aria-hidden="true" tabindex="-1">
        <span class="govuk-visually-hidden">Contact us</span>
      </a>
    </div>
  </li>
</ul>
