{% set pageData = pages['powerpages/components/checkboxes'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_exampleTabs.njk' import exampleTabs %}
{% from 'includes/components/_breadcrumbs.njk' import breadcrumbs %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block beforeContent %}
  {{ breadcrumbs(pageData, pages) }}
{% endblock %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<p class="govuk-body"><a class="govuk-link" href="#html-examples">Skip to HTML examples</a></p>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>
<p class="govuk-body">If required, you can use custom script to associate records where each checkbox selection refers to a parent-child or many-to-many relationship record.</p>

<h2 class="govuk-heading-l" id="when-not-to-use-this-component">When not to use this component</h2>
<p class="govuk-body">Avoid using the checkboxes component if users can only choose one option from a selection. Instead, use the <a class="govuk-link" href="{{ pages['powerpages/components/radios'].url }}">radios</a> component.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<p class="govuk-body">Read the <a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes/#how-it-works" target="_blank">GOV.UK Design System guidance on checkboxes (opens in a new tab)</a> for information on ordering options, hint text, and accessibility considerations.</p>

<h2 class="govuk-heading-l" id="html-examples">HTML examples</h2>
<p class="govuk-body">
  Copy the HTML into your web template. Replace <code>schema-name</code> with your CRM field schema name, keeping any suffixes like <code>-hint</code>. This is required for the <a class="govuk-link" href="{{ pages['powerpages/patterns/crm-helper-framework'].url }}">CRM helper framework</a> to validate and submit data.
</p>
<p class="govuk-body">
  Use the input field above each example to enter your schema name. This updates all instances in the code automatically, ensuring no mistakes that could impact validation or accessibility.
</p>

<h3 class="govuk-heading-m" id="single-question">For single question pages</h3>
<p class="govuk-body">
  If presenting only one question on the page, designate the contents of the <code>legend</code> as the page heading.
  This practice ensures users of screen readers hear the contents only once.
</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to remove the default page header and avoid duplication.</p>

{{ exampleTabs(
  "For single question pages",
  "includes/components/checkbox/headerExample.njk",
  { showUpdateSchema: true, index: 1, layout: 'default' }
) }}

<h3 class="govuk-heading-m" id="multiple-question">For multiple question pages</h3>
<p class="govuk-body">If presenting more than one question on the page, do not set the contents of the <code>legend</code> as the page heading.</p>

{{ exampleTabs(
  "For multiple question pages",
  "includes/components/checkbox/standardExample.njk",
  { showUpdateSchema: true, index: 2, layout: 'withTitle' }
) }}

<h3 class="govuk-heading-m" id="using-hint-text">Using hint text</h3>
<p class="govuk-body">
  Use hint text to provide relevant assistance to the majority of users, such as clarifying how their information will be used or where to locate it.
  The hint text block is demonstrated in the example below.
</p>
<p class="govuk-body">Please ensure the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Use the hint text block appropriately</li>
  <li>Place the hint block correctly within your HTML component</li>
  <li>Add the <code>aria-describedby</code> attribute where necessary, for accessibility. For checkboxes this is against the <code>fieldset</code>.</li>
</ul>
<p class="govuk-body">
  Avoid lengthy paragraphs and lists in hint text, as screen readers will read out the entire content, potentially frustrating users.
  Additionally, refrain from including links within hint text, as screen readers do not indicate that the text is a clickable link.
</p>

{{ exampleTabs(
  "Checkbox with hint",
  "includes/components/checkbox/hintExample.njk",
  { showUpdateSchema: true, index: 3, layout: 'default' }
) }}

<h3 class="govuk-heading-m" id="additional-examples">Additional examples</h3>
<p class="govuk-body">Additional examples can be found on the GOV.UK Design System:</p>
<ul class="govuk-list">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#add-an-option-for-none">Add an option for 'none'</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#conditionally-revealing-a-related-question">Conditionally revealing a related question</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#smaller-checkboxes">Smaller checkboxes</a></li>
</ul>
<p class="govuk-body">
  These examples will eventually be incorporated into this guidance, demonstrating how to use each of these additional examples with Power Pages.
  If you require assistance in the interim to adapt these additional examples for use with Power Pages and the CRM helper framework, please contact the Solutions Delivery Team.
</p>

<h2 class="govuk-heading-l" id="error-messages">Error messages</h2>
<p class="govuk-body">
  An error message is displayed next to the field and in the error summary when a validation error occurs.
  The <a class="govuk-link" href="{{ pages['powerpages/patterns/crm-helper-framework'].url }}">CRM helper framework</a> automatically handles error messages for specific error states.
</p>
<p class="govuk-body govuk-!-font-weight-bold">If nothing is selected and the question is required</p>
<p class="govuk-body">'Select [whatever it is]'. For example, 'Select which types of waste you transport'.</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Power Pages, please contact the Solutions Delivery Team.</p>

<script type="text/javascript" src="/assets/js/update-html-example.js"></script>

{% endblock %}
