{% set pageData = pages['powerpages/components/search'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_exampleTabs.njk' import exampleTabs %}
{% from 'includes/components/_breadcrumbs.njk' import breadcrumbs %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block beforeContent %}
  {{ breadcrumbs(pageData, pages) }}
{% endblock %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<p class="govuk-body"><a class="govuk-link" href="#html-examples">Skip to HTML examples</a></p>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>

<h2 class="govuk-heading-l" id="when-not-to-use-this-component">When not to use this component</h2>
<p class="govuk-body">Do not use the search component as part of a table. In this case, you should use the searchable table component instead.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<p class="govuk-body">Always use the search component as the only component on a page. The search component is often accompanied by a radio component to display the search results, which requires the user to choose an option.</p>
<p class="govuk-body">Set the contents of the <code>&lt;label&gt;</code> as the page heading. This is good practice as it means that users of screen readers will only hear the contents once.</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to remove the default page header.</p>

<h3 class="govuk-heading-m">Using hint text</h3>
<p class="govuk-body">Use hint text for help that's relevant to the majority of users, like how their information will be used, or where to find it. Hint text is not mandatory, and can be removed if not required.</p>
<p class="govuk-body">Do not use long paragraphs and lists in hint text. Screen readers read out the entire text when users interact with the form element. Do not include links within hint text.</p>

<h3 class="govuk-heading-m">Minimum and maximum length</h3>
<p class="govuk-body">Use custom <code>minchar</code> and <code>maxchar</code> attributes to set a minimum or maximum length for your search input. For example, use <code>input minchar="6" maxchar="6"</code> when asking for a school's URN.</p>

<h3 class="govuk-heading-m">Use appropriately-sized inputs</h3>
<p class="govuk-body">Help users understand what they should enter by making search inputs the right size for the content they're intended for.</p>
<p class="govuk-body">By default, the examples on this page contain the input class <code>govuk-!-width-two-thirds</code>. Removing this class makes the width of search inputs fluid and they will fit the full width of the container.</p>
<p class="govuk-body"><a class="govuk-link" href="https://design-system.service.gov.uk/components/text-input/#use-appropriately-sized-text-inputs" target="_blank">Read more about sizing your inputs (opens in a new tab)</a> on the GOV.UK Design System.</p>

<h3 class="govuk-heading-m">Display your search results</h3>
<p class="govuk-body">Your search results should be displayed in an accompanying radio component unless your user research shows there is need for an alternative approach.</p>
<p class="govuk-body"><a class="govuk-link" href="{{ pages['powerpages/components/radios'].url }}">Read about how to display search results using a radio component</a>.</p>

<h2 class="govuk-heading-l" id="html-examples">HTML examples</h2>
<p class="govuk-body">
  Copy the HTML into your web template. Replace <code>schema-name</code> with your CRM field schema name, keeping any suffixes like <code>-hint</code>. This is required for the <a class="govuk-link" href="{{ pages['powerpages/patterns/crm-helper-framework'].url }}">CRM helper framework</a> to validate and submit data.
</p>
<p class="govuk-body">
  Use the input field above each example to enter your schema name. This updates all instances in the code automatically, ensuring no mistakes that could impact validation or accessibility.
</p>

<h3 class="govuk-heading-m">Search with hint text</h3>
{{ exampleTabs(
  "Search input",
  "includes/components/search/headerExample.njk",
  { showUpdateSchema: true, index: 1, layout: 'default' }
) }}

<h3 class="govuk-heading-m">Search without hint text</h3>
{{ exampleTabs(
  "Search without hint",
  "includes/components/search/noHintExample.njk",
  { showUpdateSchema: true, index: 2, layout: 'default' }
) }}

<h2 class="govuk-heading-l" id="error-messages">Error messages</h2>
<p class="govuk-body">
  An error message is displayed next to the field and in the error summary when a validation error occurs.
  The <a class="govuk-link" href="{{ pages['powerpages/patterns/crm-helper-framework'].url }}">CRM helper framework</a> automatically handles error messages for specific error states.
</p>
<p class="govuk-body govuk-!-font-weight-bold">If nothing is entered</p>
<p class="govuk-body">'Enter [whatever it is]'. For example, 'Enter your URN'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is too short</p>
<p class="govuk-body">'[whatever it is] must be [number] characters or more'. For example, 'Your reference number must be 8 characters or more'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is too long</p>
<p class="govuk-body">'[whatever it is] must be [number] characters or less'. For example, 'Your reference must be 8 characters or less'.</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Power Pages, please contact the Solutions Delivery Team.</p>

{% endblock %}
