{% set pageData = pages['powerpages/components/select'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_exampleTabs.njk' import exampleTabs %}
{% from 'includes/components/_breadcrumbs.njk' import breadcrumbs %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block beforeContent %}
  {{ breadcrumbs(pageData, pages) }}
{% endblock %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<p class="govuk-body"><a class="govuk-link" href="#html-examples">Skip to HTML examples</a></p>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>

<h2 class="govuk-heading-l" id="when-not-to-use-this-component">When not to use this component</h2>
<p class="govuk-body">The select component allows users to choose an option from a long list. Before using the select component, try asking users questions which will allow you to present them with fewer options.</p>
<p class="govuk-body">Asking questions means you're less likely to need to use the select component, and can consider using a different solution, such as <a class="govuk-link" href="{{ pages['powerpages/components/radios'].url }}">radios</a>.</p>
<p class="govuk-body">If you have a very long list of options (for example, a list of countries or organisations), consider using an <a class="govuk-link" href="https://design-system.service.gov.uk/components/select/#using-select-with-an-autocomplete" target="_blank">accessible autocomplete (opens in a new tab)</a> instead, which allows users to filter options by typing.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<p class="govuk-body">Read the <a class="govuk-link" href="https://design-system.service.gov.uk/components/select/#how-it-works" target="_blank">GOV.UK Design System guidance on selects (opens in a new tab)</a> for information on pre-selecting options and accessibility considerations.</p>

<h2 class="govuk-heading-l" id="html-examples">HTML examples</h2>
<p class="govuk-body">
  Copy the HTML into your web template. Replace <code>schema-name</code> with your CRM field schema name, keeping any suffixes like <code>-hint</code>. This is required for the <a class="govuk-link" href="{{ pages['powerpages/patterns/crm-helper-framework'].url }}">CRM helper framework</a> to validate and submit data.
</p>
<p class="govuk-body">
  Use the input field above each example to enter your schema name. This updates all instances in the code automatically, ensuring no mistakes that could impact validation or accessibility.
</p>

<h3 class="govuk-heading-m">For single question pages</h3>
<p class="govuk-body">
  If presenting only one question on the page, set the contents of the <code>&lt;label&gt;</code> as the page heading.
  This is good practice as it means that users of screen readers will only hear the contents once.
</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to remove the default page header.</p>

{{ exampleTabs(
  "Select for single question page",
  "includes/components/select/headerExample.njk",
  { showUpdateSchema: true, index: 1, layout: 'default' }
) }}

<h3 class="govuk-heading-m">For multiple question pages</h3>
<p class="govuk-body">If presenting more than one question on the page, do not set the contents of the <code>&lt;label&gt;</code> as the page heading.</p>

{{ exampleTabs(
  "Select for multiple question page",
  "includes/components/select/standardExample.njk",
  { showUpdateSchema: true, index: 2, layout: 'withTitle' }
) }}

<h3 class="govuk-heading-m">Using hint text</h3>
<p class="govuk-body">
  Use hint text for help that's relevant to the majority of users, like how their information will be used, or where to find it.
</p>
<p class="govuk-body">Do not use long paragraphs and lists in hint text. Screen readers read out the entire text when users interact with the form element. Do not include links within hint text.</p>

{{ exampleTabs(
  "Select with hint text",
  "includes/components/select/hintExample.njk",
  { showUpdateSchema: true, index: 3, layout: 'default' }
) }}

<h2 class="govuk-heading-l" id="error-messages">Error messages</h2>
<p class="govuk-body">
  An error message is displayed next to the field and in the error summary when a validation error occurs.
  The <a class="govuk-link" href="{{ pages['powerpages/patterns/crm-helper-framework'].url }}">CRM helper framework</a> automatically handles error messages for specific error states.
</p>
<p class="govuk-body govuk-!-font-weight-bold">If nothing is chosen and the question is required</p>
<p class="govuk-body">'Choose [whatever it is]'. For example, 'Choose location'.</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Power Pages, please contact the Solutions Delivery Team.</p>

{% endblock %}
