{% set pageData = pages['powerpages/components/timeline'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_exampleTabs.njk' import exampleTabs %}
{% from 'includes/components/_breadcrumbs.njk' import breadcrumbs %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block beforeContent %}
  {{ breadcrumbs(pageData, pages) }}
{% endblock %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<p class="govuk-body"><a class="govuk-link" href="#html-example">Skip to HTML example</a></p>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>
<p class="govuk-body">Use the timeline component when you need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>show the history of an application or case</li>
  <li>display a sequence of events in chronological order</li>
  <li>help users understand the progress of a process</li>
</ul>

<h2 class="govuk-heading-l" id="when-not-to-use-this-component">When not to use this component</h2>
<p class="govuk-body">Do not use the timeline component:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>for step-by-step guidance (use the task list pattern instead)</li>
  <li>when events don't have a clear chronological order</li>
  <li>for very long lists of events (consider pagination or filtering)</li>
</ul>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<p class="govuk-body">The timeline component displays a vertical list of events with a connecting line. Each event has:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a title describing what happened</li>
  <li>a date or time when it happened</li>
  <li>optional content with additional details</li>
</ul>
<p class="govuk-body">Events are typically displayed in reverse chronological order (most recent first), but you can display them in any order that makes sense for your users.</p>

<h2 class="govuk-heading-l" id="html-example">HTML example</h2>
<p class="govuk-body">
  Copy the HTML from this page directly into your web template.
</p>

{{ exampleTabs(
  "Timeline",
  "includes/components/timeline/basicExample.njk",
  { showUpdateSchema: false, index: 1 }
) }}

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Power Pages, please contact the Solutions Delivery Team.</p>

{% endblock %}
