{% set pageName = "Checkboxes" %}
{% set pageDescription = "Use the checkboxes component when you need to help users select multiple options from a list or toggle a single option on or off. When submitting data to CRM, this can be used when the target field is a boolean or a multi-select field." %}
{% set selectedNav = "Checkboxes" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

{% endblock %}