{% set pageName = "Checkboxes" %}
{% set pageDescription = "Use the checkboxes component when you need to help users select multiple options from a list or toggle a single option on or off. When submitting data to CRM, this can be used when the target field is a boolean or a multi-select type." %}
{% set selectedNav = "Checkboxes" %}
{% set dateUpdated = "July 2023" %}

{% from 'includes/components/_checkbox.njk' import checkboxHeaderExample, checkboxStandardExample %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">When to use this component</h2>
<p class="govuk-body">{{ pageDescription }}</p>

<h2 class="govuk-heading-l">When to not use this component</h2>
<p class="govuk-body">Do not use the checkboxes component if users can only choose one option from a selection. In this case, use the radios component.</p>

<h2 class="govuk-heading-l">How it works</h2>
<p class="govuk-body">Always position checkboxes to the left of their labels. This makes them easier to find, especially for users of screen magnifiers.</p>
<p class="govuk-body">Unlike with radios, users can select multiple options from a list of checkboxes. Do not assume that users will know how many options they can select 
  based on the visual difference between radios and checkboxes alone.</p>
<p class="govuk-body">If needed, add a hint explaining this, for example, 'Select all that apply'.</p>
<p class="govuk-body">Do not pre-select checkbox options as this makes it more likely that users will not realise they've missed a question or submitted the wrong answer.</p>
<p class="govuk-body">Order checkbox options alphabetically by default.</p>  

<h3 class="govuk-heading-m">Copy and amend the HTML examples</h3>
<p class="govuk-body">Choose the appropriate example from this page and copy the HTML directly into your web template. <a class="govuk-link" href="../layouts">Read about layouts</a>
  for more information about how to structure your web template.</p>
<p class="govuk-body">If the component needs to submit to a field in CRM, replace the highlighted <code>schema-name</code> text in the example 
  HTML with the target field schema name. <strong>Do not</strong> remove any prepended or appended text to the schema name. For example, if the id attribute is 
  displayed as <code>schema-name-error</code> in the example, the value should still contain <code>-error</code> after the schema name has been replaced (<code>dfe_field-error</code>).</p>
<p class="govuk-body">This step is essential for the custom portal helper framework to validate and submit data to CRM. <a class="govuk-link" href="">Read about data validation and submitting data to CRM</a>.</p>

<h3 class="govuk-heading-m">If you are asking one question on the page</h3>
<p class="govuk-body">If you are asking just one question on the page, set the contents of the <code>&lt;legend&gt;</code> as the page heading. This is good practice as it 
  means that users of screen readers will only hear the contents once.</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to override the default page header.</p>

{{ checkboxHeaderExample() }}

<h3 class="govuk-heading-m">If you are asking more than one question on the page</h3>
<p class="govuk-body">If you're asking more than one question on the page, do not set the contents of the <code>&lt;legend&gt;</code> as the page heading.</p>

{{ checkboxStandardExample() }}

<h3 class="govuk-heading-m">Additional examples</h3>
<p class="govuk-body">Additional examples can be found on the GOV.UK Design System:</p>
<ul class="govuk-list">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#checkbox-items-with-hints">Checkbox items with hints</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#add-an-option-for-none">Add an option for 'none'</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#conditionally-revealing-a-related-question">Conditionally revealing a related question</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#smaller-checkboxes">Smaller checkboxes</a></li>
</ul>
<p class="govuk-body">These will eventually be added into to guidance with specific examples for how to use each of these additional examples with Dynamics 365 portals. 
  If your require support in the meantime to adapt these additional examples for use with Dynamics 365 Portals and the portal helper framework, please contact the 
  Solutions Delivery Team.</p>

<h3 class="govuk-heading-m">Error messages</h3>
<p class="govuk-body">The <a class="govuk-link" href="#">portal helper framework</a> handles error messages for specific error states as part of the validation process.</p>
<p class="govuk-body govuk-!-font-weight-bold">If nothing is selected and the question is required</p>
<p class="govuk-body">'Select [whatever it is]'.<br><br>For example, 'Select your nationality or nationalities'.</p>
<p class="govuk-body">Occasionally you may wish to use error messages outside of the validation process. You can <a class="govuk-link" href="">read about the functions available within the portal helper framework</a> to help you with this.</p>

{% endblock %}