{% set pageData = pages['powerpages/getting-started/import-website-template/import-success'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_breadcrumbs.njk' import breadcrumbs %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block beforeContent %}
  {{ breadcrumbs(pageData, pages) }}
{% endblock %}

{% block content %}

<div class="govuk-panel govuk-panel--confirmation">
  {% if showTitlePanel == false %}
  <h1 class="govuk-panel__title">{{ pageData.title }}</h1>
  {% else %}
  <h2 class="govuk-panel__title">{{ pageData.title }}</h2>
  {% endif %}
  <div class="govuk-panel__body">
    {{ pageData.description }}
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-l">Next steps</h2>

<p class="govuk-body">Re-activate your website in Power Pages to make it live.</p>

<ol class="govuk-list govuk-list--number">
  <li>Sign in to <a href="https://make.powerpages.microsoft.com" class="govuk-link" target="_blank">Power Pages (opens in new tab)</a>.</li>
  <li>Select the environment to which you imported the website.</li>
  <li>Go to <code>Inactive sites</code> and locate your website (e.g. "DfE Power Pages Core" or "GOVUK Power Pages Core").</li>
  <li>Click <code>Activate</code>.</li>
</ol>

<p class="govuk-body">Your branded Power Pages website should now be set up and live. Verify it by visiting the URL you chose during activation.</p>

{% endblock %}
