{% set pageName = "Number input" %}
{% set pageDescription = "Use the number input component when you need to let a user enter either a whole number, a decimal number or either. When submitting data to CRM, this can be used where the target field is an appropriate number type." %}
{% set selectedNav = "Number inputs" %}
{% set dateUpdated = "July 2023" %}

{% from 'includes/components/_number-input.njk' import numberHeaderExample, numberStandardExample, numberNoHintExample, numberPrefixSuffixExample, numberPrefixExample, numberSuffixExample %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">When to use this component</h2>
<p class="govuk-body">{{ pageDescription }}</p>

<h2 class="govuk-heading-l">When to not use this component</h2>
<p class="govuk-body">Do not use the number input component for any other purpose than allowing users to enter an whole number or decimal number.</p>
<p class="govuk-body">There is specific guidance on how to ask for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="./date-input">dates</a></li>
  <li><a class="govuk-link" href="./telephone-input">telephone numbers</a></li>
</ul>

<h2 class="govuk-heading-l">How it works</h2>
<p class="govuk-body">All number inputs must have labels, and in most cases the label should be visible.</p>
<p class="govuk-body">Labels are aligned above the number input they refer to. They should be short, direct and written in sentence case. Do not use colons at the end of labels.</p>

<h3 class="govuk-heading-m">Copy and amend the HTML examples</h3>
<p class="govuk-body">Choose the appropriate example from this page and copy the HTML directly into your web template. <a class="govuk-link" href="../layouts">Read about layouts</a>
  for more information about how to structure your web template.</p>
<p class="govuk-body">If the component needs to submit to a field in CRM, replace the highlighted <code>schema-name</code> text in the example 
  HTML with the target field schema name. <strong>Do not</strong> remove any prepended or appended text to the schema name. For example, if the id attribute is 
  displayed as <code>schema-name-error</code> in the example, the value should still contain <code>-error</code> after the schema name has been replaced (<code>dfe_field-error</code>).</p>
<p class="govuk-body">This step is essential for the custom portal helper framework to validate and submit data to CRM. <a class="govuk-link" href="">Read about data validation and submitting data to CRM</a>.</p>

<h3 class="govuk-heading-m">Avoid placeholder text</h3>
<p class="govuk-body">Do not use placeholder text in place of a label, or for hints or examples, as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>it vanishes when the user starts typing, which can cause problems for users with memory conditions or when reviewing answers</li>
  <li>not all screen readers read it out</li>
  <li>its browser default styles often do not meet minimum contrast requirements</li>
</ul>

<h3 class="govuk-heading-m">If you are asking one question on the page</h3>
<p class="govuk-body">If you are asking just one question on the page, set the contents of the <code>&lt;label&gt;</code> as the page heading. This is good practice as it 
  means that users of screen readers will only hear the contents once.</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to override the default page header.</p>

{{ numberHeaderExample() }}

<h3 class="govuk-heading-m">If you are asking more than one question on the page</h3>
<p class="govuk-body">If you're asking more than one question on the page, do not set the contents of the <code>&lt;label&gt;</code> as the page heading.</p>

{{ numberStandardExample() }}

<h4 class="govuk-heading-s">Use appropriately-sized inputs</h4>
<p class="govuk-body">Help users understand what they should enter by making text inputs the right size for the content they're intended for.</p>
<p class="govuk-body">By default, the width of text inputs is fluid and will fit the full width of the container they are placed into.</p>
<p class="govuk-body">If you want to make the input smaller, you can either use a fixed width input, or use the width override classes to create a smaller, fluid width input.</p>
<p class="govuk-body"><a class="govuk-link" href="https://design-system.service.gov.uk/components/text-input/#use-appropriately-sized-text-inputs" target="_blank">Read more about sizing your inputs and see examples (opens in a new tab)</a> on the GOV.UK Design System.</p>

<h3 class="govuk-heading-m">Hint text</h3>
<p class="govuk-body">Use hint text for help that's relevant to the majority of users, like how their information will be used, or where to find it. The hint text block is included in the previous examples on this page.</p>
<p class="govuk-body">Hint text is not mandatory, and can be removed if it is not required.</p>

{{ numberNoHintExample() }}

<h4 class="govuk-heading-s">When not to use hint text</h4>
<p class="govuk-body">Do not use long paragraphs and lists in hint text. Screen readers read out the entire text when users interact with the form element. 
  This could frustrate users if the text is long.</p>

<h4 class="govuk-heading-s">Avoid links in hint text</h4>
<p class="govuk-body">Do not include links within hint text. While screen readers will read out the link text when describing the field, they will not tell users that 
  the text is a link.</p>

<h3 class="govuk-heading-m">Asking for whole number</h3>
<p class="govuk-body">If you're asking the user to enter a whole number, make sure the <code>inputmode</code> attribute is set to <code>numeric</code> to use the numeric keypad on devices 
  with on-screen keyboards. The examples provided above on this page already have the <code>inputmode="numeric"</code> attribute.</p>

<h3 class="govuk-heading-m">Asking for decimal numbers</h3>
<p class="govuk-body">If you're asking the user to enter a number that might include decimal places, use <code>input type="text"</code>. 
<p class="govuk-body">Do not set the <code>inputmode</code> attribute as it causes some devices to bring up a keypad without a key for the decimal separator.</p>

<h4 class="govuk-heading-s">Avoid using inputs with a type of number</h4>
<p class="govuk-body">Do not use <code>&lt;input type="number"&gt;</code> unless your user research shows that there's a need for it. With <code>&lt;input type="number"&gt;</code> there's 
  a risk of users accidentally incrementing a number when they're trying to do something else - for example, scroll up or down the page. And if the user tries to enter 
  something that's not a number, there's no explicit feedback about what they're doing wrong.</p>

<h3 class="govuk-heading-m">Minimum and maximum</h3>
<p class="govuk-body">The number component does not use <code>input type="number"</code> so the standard HTML <code>min</code> and <code>max</code> attributes do not apply. 
  Do not use the <code>minlength</code> and <code>maxlength</code> attributes associated with <code>input type="text"</code> either. Browsers will not permit the user to enter more than the characters defined by the value of the maxlength attribute, cutting off the text as-you-type and truncating 
   pasted text. This can lead to bad user experience.</p>
<p class="govuk-body">You can use custom attributes which will work with the portal helper validation framework to set the allowed value or length range of a number input.</p>
<p class="govuk-body">Minimum and maximum length and minimum and maximum value attributes can be used together, but only when the input is a whole number.</p>

<h4 class="govuk-heading-s">Minimum and maximum value</h4>
<p class="govuk-body">Use <code>minvalue</code> and <code>maxvalue</code> attributes to set a minimum or maximum value for your input. For example, <code>input maxvalue="10"</code> 
  will prevent the user being able to submit a number greater than 10.</p>
<p class="govuk-body">Use the <code>minvalue</code> attribute together with the <code>maxvalue</code> attribute to create a range of allowed values.</p>

<h4 class="govuk-heading-s">Minimum and maximum length</h4>
<p class="govuk-body">Use <code>minchar</code> and <code>maxchar</code> attributes to set a minimum or maximum length for your input. For example, you may wish to use <code>input minchar="8" maxchar="8"</code> 
  when asking for a bank account number. Will ensure the user can only submit a number of 8 characters in length.</p>
<p class="govuk-body">You can use the <code>minchar</code> attribute together with the <code>maxchar</code> attribute to create a range of allowed lengths, as described in the example above, or as individual attributes.</p>
<p class="govuk-body">The length attributes can only be used as part of a number component when the input is a whole number.</p>

<h3 class="govuk-heading-m">Prefixes and suffixes</h3>
<p class="govuk-body">Use prefixes and suffixes to help users enter things like currencies and measurements.</p> 
  
{{ numberPrefixSuffixExample() }}

<p class="govuk-body">Prefixes and suffixes are useful when there's a commonly understood symbol or abbreviation for the type of information you're asking for. 
  Do not rely on prefixes or suffixes alone, because screen readers will not read them out.</p>
<p class="govuk-body">If you need a specific type of information, say so in the input label or hint text as well. For example, put 'Cost, in pounds' in the input label 
  and use the '£' symbol in the prefix.</p>
<p class="govuk-body">Position prefixes and suffixes are positioned outside of their input to avoid interfering with some browsers that might insert an icon into the input
   (for example to show or generate a password).</p>

<h4 class="govuk-heading-s">Number inputs with a prefix</h4>

{{ numberPrefixExample() }}

<h4 class="govuk-heading-s">Number inputs with a suffix</h4>

{{ numberSuffixExample() }}

<h3 class="govuk-heading-m">Error messages</h3>
<p class="govuk-body">An error message is shown next to the field and in the error summary when there is a validation error. The HTML for these error containers are already 
  included in the component examples and in the base portal web template set up, therefore you do not need to add any additional error containers to your page.</p>
<p class="govuk-body">The <a class="govuk-link" href="#">portal helper framework</a> validation process automatically handles error messages for specific error states.</p> 
<p class="govuk-body govuk-!-font-weight-bold">If the input is empty</p>
<p class="govuk-body">'Enter [whatever it is]'.<br><br>For example, 'Enter your account number'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is not a number</p>
<p class="govuk-body">'[whatever it is] must be [number]'<br><br>For example, 'Your account number must be a number'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is not a whole number but should be</p>
<p class="govuk-body">'[whatever it is] must be a whole number'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is not a decimal number but should be</p>
<p class="govuk-body">'[whatever it is] must be a decimal number'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is too short</p>
<p class="govuk-body">'[whatever it is] must be [number] characters or more'.<br><br>For example, 'Your reference number must be 6 characters or more'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input is too long</p>
<p class="govuk-body">'[whatever it is] must be [number] characters or less'.<br><br>For example, 'Your reference number must be 8 characters or less'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input has both a minimum and maximum length</p>
<p class="govuk-body">'[whatever it is] must be between [number] and [number] characters'.<br><br>For example, 'Your reference number must be between 6 and 8 characters'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the number is too low</p>
<p class="govuk-body">'[whatever it is] must be [lowest] or more'.<br><br>For example, 'Hours worked in a week must be 16 or more'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the number is too high</p>
<p class="govuk-body">'[whatever it is] must be [highest] or fewer'.<br><br>For example, 'Hours worked a week must be 99 or fewer'.</p>
<p class="govuk-body govuk-!-font-weight-bold">If the input must be between 2 numbers</p>
<p class="govuk-body">'[whatever it is] must be between [lowest] and [highest]'.<br><br>For example, 'Hours worked a week must be between 16 and 99'.</p>

<p class="govuk-body">Occasionally you may wish to use error messages outside of the validation process. You can <a class="govuk-link" href="">read about the functions available within the portal helper framework</a> to help you with this.</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Dynamics 365 Portals, or with the portal helper framework, please contact the Solutions Delivery Team.</p>

{% endblock %}