{% set layoutExample %}
{% verbatim %}
{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block title %}{% endblock %}   

{% block main %}
  {% if user %}

    ## HTML content goes here ##

  {% else %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/AccessDenied'].url }}"
    </script>
  {% endif %}
{% endblock %}
{% endverbatim %}
{% endset %}

{% set layoutExampleWithTitle %}
{% verbatim %}
{% extends 'DfE/Layouts/2ColumnWideLeft' %} 

{% block main %}
  {% if user %}

    ## HTML content goes here ##

  {% else %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/AccessDenied'].url }}"
    </script>
  {% endif %}
{% endblock %}
{% endverbatim %}
{% endset %}

{% macro updateHTMLSchemaName(index) %}
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="enter-schema-name-{{ index }}">
    Update the HTML example
  </label>
  <div class="govuk-hint" id="enter-schema-name-hint-{{ index }}">
    Replace 'schema-name' in the example by entering the schema name of your target CRM field.
  </div>
  <input class="govuk-input govuk-input--width-20" id="enter-schema-name-{{ index }}" name="enter-schema-name" type="text" aria-describedby="enter-schema-name-hint-{{ index }}">
  <button type="submit" class="govuk-button govuk-button--secondary update-html-example" data-module="govuk-button">
    Update
  </button>
</div>
{% endmacro %}

{% set headerExample %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which types of waste do you transport?
      </h1>
    </legend>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-1" name="schema-name" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name">
          Waste from animal carcasses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-2" name="schema-name" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name-2">
          Waste from mines or quarries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-3" name="schema-name" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name-3">
          Farm or agricultural waste
        </label>
      </div>
    </div>
  </fieldset>
</div>
{% endset %}

{% set standardExample %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      Which types of waste do you transport?
    </legend>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-1" name="schema-name" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name">
          Waste from animal carcasses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-2" name="schema-name" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name-2">
          Waste from mines or quarries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-3" name="schema-name" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name-3">
          Farm or agricultural waste
        </label>
      </div>
    </div>
  </fieldset>
</div>
{% endset %}

{% set hintExample %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="schema-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Which types of waste do you transport?
      </h1>
    </legend>
    <div id="schema-name-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-1" name="schema-name" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name">
          Waste from animal carcasses
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-2" name="schema-name" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name-2">
          Waste from mines or quarries
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="schema-name-3" name="schema-name" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="schema-name-3">
          Farm or agricultural waste
        </label>
      </div>
    </div>
  </fieldset>
</div>
{% endset %}

{% set layoutWarningText = "This is a basic web template page layout with a logged in user check and does not include additional liquid items which are common place on a CRM Portal, for example, web role, URL parameter or record checks." %}

{% macro checkboxHeaderExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
  Radio component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example">
      Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html">
      HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid">
      Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example">
    {{ headerExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html">
    {{ updateHTMLSchemaName(1) | safe }}
    <pre>
      <code>
      {{ headerExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExample }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro checkboxStandardExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
  Radio component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example1">
      Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html1">
      HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid1">
      Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example1">
    {{ standardExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html1">
    {{ updateHTMLSchemaName(2) | safe }}
    <pre>
      <code>
      {{ standardExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid1">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExampleWithTitle }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro checkboxHintExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Radio component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example2">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html2">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid2">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example2">
    {{ hintExample| safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html2">
    {{ updateHTMLSchemaName(3) | safe }}
    <pre>
      <code>
      {{ hintExample}}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid2">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExample }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}