{% set layoutExample %}
{% verbatim %}
{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block title %}{% endblock %}   

{% block main %}
  {% unless user %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/AccessDenied'].url }}"
    </script>
  {% endunless %}

  ## HTML content goes here ##

{% endblock %}
{% endverbatim %}
{% endset %}

{% set layoutExampleWithTitle %}
{% verbatim %}
{% extends 'DfE/Layouts/2ColumnWideLeft' %} 

{% block main %}
  {% unless user %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/AccessDenied'].url }}"
    </script>
  {% endunless %}

  ## HTML content goes here ##

{% endblock %}
{% endverbatim %}
{% endset %}

{% macro updateHTMLSchemaName(index) %}
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="enter-schema-name-{{ index }}">
    Update the HTML example
  </label>
  <div class="govuk-hint" id="enter-schema-name-hint-{{ index }}">
    Replace 'schema-name' in the example by entering the schema name of your target CRM field.
  </div>
  <input class="govuk-input govuk-input--width-20" id="enter-schema-name-{{ index }}" name="enter-schema-name" type="text" aria-describedby="enter-schema-name-hint-{{ index }}">
  <button type="submit" class="govuk-button govuk-button--secondary update-html-example" data-module="govuk-button">
    Update
  </button>
</div>
{% endmacro %}

{% set headerExample %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="schema-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What is your date of birth?
      </h1>
    </legend>
    <div id="schema-name-hint" class="govuk-hint">
      For example, 27 3 2021
    </div>
    <div class="govuk-date-input">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schema-name-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schema-name-day" name="schema-name" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schema-name-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schema-name-month" name="schema-name" type="text" inputmode="numeric"> 
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schema-name-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schema-name-year" name="schema-name" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>
{% endset %}

{% set standardExample %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="schema-name-hint">
    <legend class="govuk-fieldset__legend">
      What is your date of birth?
    </legend>
    <div id="schema-name-hint" class="govuk-hint">
      For example, 27 3 2021
    </div>
    <div class="govuk-date-input">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schema-name-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schema-name-day" name="schema-name" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schema-name-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schema-name-month" name="schema-name" type="text" inputmode="numeric"> 
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schema-name-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schema-name-year" name="schema-name" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>
{% endset %}

{% set autocompleteExamples %}
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schema-name-day" name="schema-name" type="text" autocomplete="bday-day"inputmode="numeric">   

<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schema-name-month" name="schema-name" type="text" autocomplete="bday-month" inputmode="numeric">       

<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schema-name-year" name="schema-name" type="text" autocomplete="bday-year" inputmode="numeric">   
{% endset %}

{% set layoutWarningText = "This is a basic web template page layout with a logged in user check and does not include additional liquid items which are common place on a CRM Portal, for example, web role, URL parameter or record checks." %}

{% macro dateHeaderExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Date input component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example">  
  {{ headerExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html">
    {{ updateHTMLSchemaName(1) | safe }}
    <pre>
      <code>
      {{ headerExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExample }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro dateStandardExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Card component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example1">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html1">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid1">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example1">
  {{ standardExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html1">
    {{ updateHTMLSchemaName(2) | safe }}
    <pre>
      <code>
      {{ standardExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid1">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExampleWithTitle }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro dateAutocompleteExample() %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Date autocomplete example
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html2">
        HTML
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="html2">
    {{ updateHTMLSchemaName(3) | safe }}
    <pre>
      <code class="language-php-template">
      {{ autocompleteExamples }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}
