{% set layoutExample %}
{% verbatim %}
{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block title %}{% endblock %}   

{% block main %}
  {% unless user %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/AccessDenied'].url }}"
    </script>
  {% endunless %}

  ## HTML content goes here ##

{% endblock %}
{% endverbatim %}
{% endset %}

{% set layoutExampleWithTitle %}
{% verbatim %}
{% extends 'DfE/Layouts/2ColumnWideLeft' %} 

{% block main %}
  {% unless user %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/AccessDenied'].url }}"
    </script>
  {% endunless %}

  ## HTML content goes here ##

{% endblock %}
{% endverbatim %}
{% endset %}

{% macro updateHTMLSchemaName(index) %}
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="enter-schema-name-{{ index }}">
    Update the HTML example
  </label>
  <div class="govuk-hint" id="enter-schema-name-hint-{{ index }}">
    Replace 'schema-name' in the example by entering the schema name of your target CRM field.
  </div>
  <input class="govuk-input govuk-input--width-20" id="enter-schema-name-{{ index }}" name="enter-schema-name" type="text" aria-describedby="enter-schema-name-hint-{{ index }}">
  <button type="submit" class="govuk-button govuk-button--secondary update-html-example" data-module="govuk-button">
    Update
  </button>
</div>
{% endmacro %}

{% set headerExample %}
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="schema-name">
      What is your email address?
    </label>
  </h1>
  <input class="govuk-input" id="schema-name" name="schema-name" type="email" spellcheck="false" autocomplete="email">
</div>
{% endset %}

{% set standardExample %}
<div class="govuk-form-group">
  <label class="govuk-label" for="schema-name">
    What is your email address?
  </label>
  <input class="govuk-input" id="schema-name" name="schema-name" type="email" spellcheck="false" autocomplete="email">
</div>
{% endset %}

{% set hintExample %}
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="schema-name">
      What is your email address?
    </label>
  </h1>
  <div id="schema-name-hint" class="govuk-hint">
    Enter your work email where possible
  </div>
  <input class="govuk-input" id="schema-name" name="schema-name" type="email" spellcheck="false" autocomplete="email" aria-describedby="schema-name-hint">
</div>
{% endset %}

{% set layoutWarningText = "This is a basic web template page layout with a logged in user check and does not include additional liquid items which are common place on a CRM Portal, for example, web role, URL parameter or record checks." %}

{% macro emailHeaderExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Date input component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example">  
  {{ headerExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html">
    {{ updateHTMLSchemaName(1) | safe }}
    <pre>
      <code>
      {{ headerExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExample }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro emailStandardExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Card component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example1">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html1">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid1">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example1">
  {{ standardExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html1">
    {{ updateHTMLSchemaName(2) | safe }}
    <pre>
      <code>
      {{ standardExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid1">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExampleWithTitle }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro emailHintExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Date input component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example2">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html2">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid2">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example2">  
  {{ hintExample | safe }}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html2">
    {{ updateHTMLSchemaName(3) | safe }}
    <pre>
      <code>
      {{ hintExample }}
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid2">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{ layoutWarningText }}
      </strong>
    </div>
    <pre>
      <code>
      {{ layoutExample }}
      </code>
    </pre>
  </div>
</div>
{% endmacro %}