{% macro searchHeaderExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Radio component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="search">
          Enter your URN and click the search icon
        </label>
      </h1>
      <div class="govuk-hint" id="search-hint">
        If you don't know your URN, you can find it on the Get information about schools (GIAS) service.
      </div>
      <p id="search-error" class="govuk-error-message govuk-visually-hidden">
          <span class="govuk-visually-hidden">Error:</span>
      </p>
      <div class="dfe-form-search__item-wrapper">
        <input class="dfe-form-search__item dfe-form-search__input govuk-!-width-two-thirds" id="search" name="search" title="Search" type="search">
        <div class="dfe-form-search__item dfe-form-search__submit-wrapper">
          <button class="dfe-form-search__submit" id="search-btn" type="submit">
            Search organisation
            <svg class="dfe-form-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div id="search-loader" class="loader govuk-visually-hidden"></div>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html">
    <pre class="code-block">
      <code class="html code-snippet">
&lt;div class="govuk-form-group"&gt;
  &lt;h1 class="govuk-label-wrapper"&gt;
    &lt;label class="govuk-label govuk-label--l" for="<span class="code-highlight">search</span>"&gt;
        Enter your URN and click the search icon
    &lt;/label&gt;
  &lt;/h1&gt;
  &lt;div class="govuk-hint" id="<span class="code-highlight">search</span>-hint"&gt;
    If you don't know your URN, you can find it on the Get information about schools (GIAS) service.
  &lt;/div&gt;
  &lt;p id="<span class="code-highlight">search</span>-error" class="govuk-error-message govuk-visually-hidden"&gt;
      &lt;span class="govuk-visually-hidden"&gt;Error:&lt;/span&gt;
  &lt;/p&gt;
  &lt;div class="dfe-form-search__item-wrapper"&gt;
    &lt;input class="dfe-form-search__item dfe-form-search__input govuk-!-width-two-thirds" id="<span class="code-highlight">search</span>" name="<span class="code-highlight">search</span>" title="Search" type="search"&gt;
    &lt;div class="dfe-form-search__item dfe-form-search__submit-wrapper"&gt;
      &lt;button class="dfe-form-search__submit" id="search-btn" type="submit"&gt;
        Search organisation
        &lt;svg class="dfe-form-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"&gt;
            &lt;circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"&gt;&lt;/circle&gt;
            &lt;line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"&gt;&lt;/line&gt;
        &lt;/svg&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div id="search-loader" class="loader govuk-visually-hidden"&gt;&lt;/div&gt;
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        This is a basic web template layout and does not include additional liquid items which are common place on a CRM Portal, for example, authenticated user, 
        web role, or parameter checks
      </strong>
    </div>
    <pre class="code-block">
      <code class="html code-snippet">
&#123;% extends 'DfE/Layout/2ColumnWideLeft' %&#125;

&#123;% block title %&#125;&#123;% endblock %&#125;   

&#123;% block main %&#125;

  <span class="code-highlight">## HTML content goes here ##</span>

&#123;% endblock %&#125;
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

{% macro searchNoHintExample () %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Radio component
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#example1">
        Example
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#html1">
        HTML
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#liquid1">
        Web Template
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="example1">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="search">
          Enter your URN and click the search icon
        </label>
      </h1>
      <p id="search-error" class="govuk-error-message govuk-visually-hidden">
          <span class="govuk-visually-hidden">Error:</span>
      </p>
      <div class="dfe-form-search__item-wrapper">
        <input class="dfe-form-search__item dfe-form-search__input govuk-!-width-two-thirds" id="search" name="search" title="Search" type="search">
        <div class="dfe-form-search__item dfe-form-search__submit-wrapper">
          <button class="dfe-form-search__submit" id="search-btn" type="submit">
            Search organisation
            <svg class="dfe-form-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"></circle>
                <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"></line>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div id="search-loader" class="loader govuk-visually-hidden"></div>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="html1">
    <pre class="code-block">
      <code class="html code-snippet">
&lt;div class="govuk-form-group"&gt;
  &lt;h1 class="govuk-label-wrapper"&gt;
    &lt;label class="govuk-label govuk-label--l" for="<span class="code-highlight">search</span>"&gt;
        Enter your URN and click the search icon
    &lt;/label&gt;
  &lt;/h1&gt;
  &lt;p id="<span class="code-highlight">search</span>-error" class="govuk-error-message govuk-visually-hidden"&gt;
      &lt;span class="govuk-visually-hidden"&gt;Error:&lt;/span&gt;
  &lt;/p&gt;
  &lt;div class="dfe-form-search__item-wrapper"&gt;
    &lt;input class="dfe-form-search__item dfe-form-search__input govuk-!-width-two-thirds" id="<span class="code-highlight">search</span>" name="<span class="code-highlight">search</span>" title="Search" type="search"&gt;
    &lt;div class="dfe-form-search__item dfe-form-search__submit-wrapper"&gt;
      &lt;button class="dfe-form-search__submit" id="search-btn" type="submit"&gt;
        Search organisation
        &lt;svg class="dfe-form-search__icon" width="27" height="27" viewBox="0 0 27 27" fill="none"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"&gt;
            &lt;circle cx="12.0161" cy="11.0161" r="8.51613" stroke="currentColor" stroke-width="3"&gt;&lt;/circle&gt;
            &lt;line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="currentColor" stroke-width="3"&gt;&lt;/line&gt;
        &lt;/svg&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div id="search-loader" class="loader govuk-visually-hidden"&gt;&lt;/div&gt;
      </code>
    </pre>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="liquid1">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        This is a basic web template layout and does not include additional liquid items which are common place on a CRM Portal, for example, authenticated user, 
        web role, or parameter checks
      </strong>
    </div>
    <pre class="code-block">
      <code class="html code-snippet">
&#123;% extends 'DfE/Layout/2ColumnWideLeft' %&#125;

&#123;% block title %&#125;&#123;% endblock %&#125;   

&#123;% block main %&#125;

  <span class="code-highlight">## HTML content goes here ##</span>

&#123;% endblock %&#125;
      </code>
    </pre>
  </div>
</div>
{% endmacro %}

