{% set pageData = pages['powerpages/patterns/page-heading'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/patterns/_page-heading.njk' import patternsHeadingSingleExample, patternsHeadingMultipleExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5" id="setting-heading">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5" id="setting-heading">{{ pageData.title }}</h2>
{% endif %}

<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#setting-heading">Setting the page heading</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#single-question">Single question page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#multiple-question">Multiple question page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#difference">Why the difference?</a>
          </li>
        </ol> 
      </li> 
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#how-to">How to access and edit Web Page Content in Dynamics 365</a>
      </li>         
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#best-practices">Best practices</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#further-reading">Further reading</a>
      </li>
    </ol>
  </nav>
</div>

<p class="govuk-body">
  In Power Pages, it is essential to apply consistent headings for better user experience and accessibility. The way the heading is presented depends on the page type: whether it is a single question page or a multiple question page.
</p>

<h3 class="govuk-heading-l" id="single-question">Single question page</h3>
<p class="govuk-body">
  For single question pages, the page heading should be included as part of the question's <code>&lt;legend&gt;</code> or <code>&lt;label&gt;</code> element in the form. The default title block in the extended template should be replaced with a blank block, effectively canceling the default title behavior. This ensures the question's title (which comes from the content page's title) is used within the form itself.
</p>
<p class="govuk-body">
  Here's an example of how the page title is used in the question's <code>&lt;legend&gt;</code> on a single question page:
</p>

{{ patternsHeadingSingleExample() }}

<h3 class="govuk-heading-l" id="multiple-question">Multiple question page</h3>
<p class="govuk-body">
  For multiple question pages, you can omit the <code>{% raw %}{% block title %}{% endraw %}</code> block in the extended template. In this case, the page will inherit the default page title from the content page, which is set in the "Title" field in the Power Pages configuration.
</p>

{{ patternsHeadingMultipleExample() }}

<h3 class="govuk-heading-l" id="difference">Why this difference?</h3>
<p class="govuk-body">
  Single question pages need a custom structure for the heading as part of the form itself, while multiple question pages can use the default inherited title. This ensures that both types of pages follow accessible design principles while maintaining consistency across the service.
</p>

<p class="govuk-body">Both options should inherit the page title from the content page web, where you can set the title of the webpage. This is accessed in Liquid as <code>{% raw %}{{ page.title }}{% endraw %}</code>.</p>

<h2 class="govuk-heading-l" id="how-to">How to access and edit Web Page Content in Dynamics 365</h2>

<p class="govuk-body">To access and modify the content page settings, such as the page title, follow these steps:</p>

<ol class="govuk-list govuk-list--number">
  <li>Go to the Portal Management model-driven app in the app launcher.</li>
  <li>Look for the <strong>Web Pages</strong> option in the left-hand navigation. This contains all the pages for your website. Use the search bar or filter options to quickly find the page you're working on.</li>
  <li>Click on the desired <strong>Web Page</strong> record and locate the child <strong>Web Page Content</strong> record.</li> 
  <li>Click the link to open the <strong>Web Page Content</strong> record and locate the <strong>Title</strong> field. This is where you can edit the page's title.</li>
  <li>After making your changes, click <strong>Save</strong> to update the page.</li>
</ol>

<p class="govuk-body">
 <img src="/assets/images/page-heading.png">
</p>

<h2 class="govuk-heading-l" id="best-practices">Best practices</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>For single question pages, use the <code>&lt;legend&gt;</code> or <code>&lt;label&gt;</code> element to present the question with its title.</li>
  <li>For multiple question pages, let the page title automatically inherit from the content page's metadata.</li>
  <li>Remember to use the appropriate component structure and classes associated with single question and multiple question pages. The <a class="govuk-link" href="{{ pages['powerpages/components'].url }}">components</a> area of this design manual provides examples for each use case.</li>
</ul>

<h2 class="govuk-heading-l" id="further-reading">Further reading</h2>
<p class="govuk-body">
  For more guidance on using labels and legends as headings, check the <a href="https://design-system.service.gov.uk/get-started/labels-legends-headings/" target="_blank" class="govuk-link">Labels, Legends, and Headings (opens in a new tab)</a> section of the GOV.UK Design System.
</p>

{% endblock %}

