{% set pageData = pages['powerpages/components/checkboxes'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_checkbox.njk' import checkboxHeaderExample, checkboxStandardExample, checkboxHintExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list"> 
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#when-to-use-this-component">When to use this component</a>
      </li>          
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#when-to-not-use-this-component">When to not use this component</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#how-it-works">How it works</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#html-examples">HTML examples</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#single-question">For single question pages</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#multiple-question">For multiple question pages</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#using-hint-text">Using hint text</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#additional-examples">Additional examples</a>
          </li>
        </ol> 
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#error-messages">Error messages</a>
      </li>
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link" href="#known-issues">Known issues</a>
      </li>    
    </ol>
  </nav>
</div>

<h2 class="govuk-heading-m" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageData.description }}</p>
<p class="govuk-body">If required, you can use custom script to associate records where each checkbox selection refers to a parent-child or many-to-many relationship record.</p>

<h2 class="govuk-heading-m" id="when-to-not-use-this-component">When to not use this component</h2>
<p class="govuk-body">Avoid using the checkboxes component if users can only choose one option from a selection. Instead, opt for the radios component.</p>

<h2 class="govuk-heading-m" id="how-it-works">How it works</h2>
<p class="govuk-body">Checkboxes are positioned to the left of their labels for enhanced visibility, particularly for users utilising screen magnifiers.</p>
<p class="govuk-body">Unlike radios, users can select multiple options from a list of checkboxes. Do not assume users will understand the number of selectable options based solely on the visual distinction between radios and checkboxes.</p>
<p class="govuk-body">If necessary, provide hint text such as 'Select all that apply' to clarify the selection process.</p>
<p class="govuk-body">Avoid pre-selecting checkbox options as it may lead to users overlooking questions or providing incorrect answers.</p>
<p class="govuk-body">Order checkbox options alphabetically by default.</p>  

<h2 class="govuk-heading-m" id="html-examples">HTML examples</h2>
<p class="govuk-body">
  Select the appropriate example from this page and directly integrate the HTML into your web template. 
  You can customise these examples to align with your specific requirements, as indicated below.
  Refer to the <a class="govuk-link" href="../layouts">layouts</a> section for further guidance on structuring your web template.
</p>
<p class="govuk-body">
  If the component requires submission to a CRM field, ensure to replace the placeholder <code>schema-name</code> text in the HTML example with the actual target field schema name. 
  Retain any prefixed or suffixed text related to the schema name. 
  For instance, if the id attribute reads <code>schema-name-hint</code> in the example, ensure the replacement maintains the <code>-hint</code> suffix (e.g. <code>dfe_field-hint</code>).
</p>
<p class="govuk-body">
  This step is crucial for allowing the <a class="govuk-link" href="">CRM helper framework</a> to validate and submit data to CRM.
</p>

<h3 class="govuk-heading-s" id="single-question">For single question pages</h3>
<p class="govuk-body">
  If presenting only one question on the page, designate the contents of the <code>legend</code> as the page heading. 
  This practice ensures users of screen readers hear the contents only once.
</p>
<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to remove the default page header and avoid duplication.</p>

{{ checkboxHeaderExample() }}

<h3 class="govuk-heading-s" id="multiple-question">For multiple question pages</h3>
<p class="govuk-body">If presenting more than one question on the page, do not set the contents of the <code>legend</code> as the page heading.</p>

{{ checkboxStandardExample() }}

<h3 class="govuk-heading-s" id="using-hint-text">Using hint text</h3>
<p class="govuk-body">
  Use hint text to provide relevant assistance to the majority of users, such as clarifying how their information will be used or where to locate it. 
  The hint text block is demonstrated in the example below.
</p>
<p class="govuk-body">Please ensure the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Use the hint text block appropriately</li>
  <li>Place the hint block correctly within your HTML component</li>
  <li>Add the <code>aria-describedby</code> attribute where necessary, for accessiblity. For checkboxes this is against the <code>fieldset</code>.</li>
</ul>
<p class="govuk-body">
  Avoid lengthy paragraphs and lists in hint text, as screen readers will read out the entire content, potentially frustrating users. 
  Additionally, refrain from including links within hint text, as screen readers do not indicate that the text is a clickable link.
</p>

{{ checkboxHintExample() }}

<h3 class="govuk-heading-s" id="additional-examples">Additional examples</h3>
<p class="govuk-body">Additional examples can be found on the GOV.UK Design System:</p>
<ul class="govuk-list">
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#add-an-option-for-none">Add an option for 'none'</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#conditionally-revealing-a-related-question">Conditionally revealing a related question</a></li>
  <li><a class="govuk-link" href="https://design-system.service.gov.uk/components/checkboxes#smaller-checkboxes">Smaller checkboxes</a></li>
</ul>
<p class="govuk-body">
  These examples will eventually be incorporated into this guidance, demonstrating how to use each of these additional examples with Power Pages. 
  If you require assistance in the interim to adapt these additional examples for use with Power Pages and the CRM helper framework, please contact the Solutions Delivery Team.
</p>

<h2 class="govuk-heading-m" id="error-messages">Error messages</h2>
<p class="govuk-body">
  An error message is displayed next to the field and in the error summary when a validation error occurs. 
  The CRM helper framework automatically handles error messages for specific error states, therefore you do not need to add any additional error containers to your HTML. 
  <a class="govuk-link" href="#">Refer to the CRM helper framework guide</a> to understand how to validate your front-end data.
</p>
<p class="govuk-body">Ensure that your component HTML and your <a class="govuk-link" href="#">inputs validation JavaScript object</a> are structured correctly for your component type.</p>
<p class="govuk-body govuk-!-font-weight-bold">If nothing is selected and the question is required</p>
<p class="govuk-body">
  Occasionally you may wish to employ error messages outside of the validation process. 
  You can <a class="govuk-link" href="">read about the functions available within the CRM helper framework</a> to assist you with this.
</p>

<h2 class="govuk-heading-m" id="known-issues">Known issues</h2>
<p class="govuk-body">
  The CRM helper framework does not currently support submitting to multi-choice select fields in Dynamics 365. 
  This issue has been added to the <a class="govuk-link" href="https://github.com/DFE-Digital/d365-design-manual/issues" target="_blank">issues backlog in GitHub (opens in a new tab)</a>.
</p>

<p class="govuk-body">If you would like any additional advice or guidance with using these examples on Power Pages, please contact the Solutions Delivery Team.</p>

<script type="text/javascript" src="/assets/js/update-html-example.js"></script>

{% endblock %}