{% set pageData = pages['crm/security/security-roles'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/components/_breadcrumbs.njk' import breadcrumbs %}
{% from 'includes/components/_contentsList.njk' import contentsList %}
{% from 'includes/patterns/_page-heading.njk' import patternsHeadingSingleExample, patternsHeadingMultipleExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block beforeContent %}
  {{ breadcrumbs(pageData, pages) }}
{% endblock %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

{{ contentsList([
  { text: "What good Security Role design looks like", href: "#good" },
  { text: "Implications of how you design Security Roles", href: "#implications" },
  { text: "Examples", href: "#examples" },
  { text: "Summary", href: "#summary" }
]) }}





<p class="govuk-body">
Security Roles in Dynamics 365 define what users and teams can see and do. Good Security Role design helps the Department for Education (DfE) keep systems secure, consistent and easier to maintain.
</p>

<h2 class="govuk-heading-l" id="good">What good Security Role design looks like</h2>

<p class="govuk-body">
Security Roles should be simple, predictable and reusable. Create Security Role based on what users need to do, not on who they are or where they sit.
</p>

<h2 class="govuk-heading-m">Do's</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Create Security Roles based on job responsibilities, not teams or individuals.</li>
  <li>Assign Security Role to teams where possible, rather than directly to users.</li>
  <li>Use the minimum privileges needed for a role to do its job (principle of least privilege).</li>
  <li>Use organisation‑level permissions only when absolutely necessary.</li>
  <li>Create small add-on Security Roles where discrete ah-doc permissions are required such as permissions to import/export data.</li>
  <li>Document what each Security Role is for, especially when created for a specific service.</li>
  <li>Regularly review Security Role to ensure they still match how DfE services operate.</li>
</ul>

<h2 class="govuk-heading-m">Don'ts</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>Do not create a new Security Role every time a small change is needed.</li>
  <li>Do not assign users multiple overlapping Security Role without checking combined permissions.</li>
  <li>Do not copy and rename Security Role without understanding what they contain.</li>
  <li>Do not give every user high‑privilege permissions “just in case”.</li>
  <li>Do not work around poor Business Unit design by giving users overly broad Security Role access.</li>
</ul>

<h2 class="govuk-heading-l" id="implications">Implications of how you design Security Roles</h2>

<p class="govuk-body">Security Role design affects:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><strong>Data access:</strong> Poorly scoped Security Roles can expose sensitive information to the wrong users.</li>
  <li><strong>Maintenance:</strong> Too many similar Security Roles make troubleshooting and updates difficult.</li>
  <li><strong>User experience:</strong> Over‑restricted permissions can break forms, views or app navigation.</li>
  <li><strong>Onboarding:</strong> Well‑designed Security Roles make it easy to give new users the right access quickly.</li>
</ul>

<h2 class="govuk-heading-l" id="examples">Examples</h2>

<h3 class="govuk-heading-s">Example 1: Security Roles based on responsibility</h3>
<p class="govuk-body">
A “Case Worker” Security Role may include permissions to create, update and assign case records, but only read access to related financial data.
</p>

<h3 class="govuk-heading-s">Example 2: Using teams for flexible access</h3>
<p class="govuk-body">
A data analyst working across several DfE service areas can gain access through membership of teams, rather than being given multiple high‑privilege roles.
</p>

<h3 class="govuk-heading-s">Example 3: Avoiding unnecessary Security Roles</h3>
<p class="govuk-body">
Instead of creating separate Security Roles for each policy area (for example, Early Years Case Worker and FE Case Worker), create one Case Worker role and manage data access using Business Units and/or teams.
</p>

<h2 class="govuk-heading-l" id="summary">Summary</h2>

<p class="govuk-body">
Security Roles should be simple, clear and based on what users need to do. Assign Security Roles to teams where possible, avoid duplication, and review them regularly. Well‑designed roles support secure, scalable and maintainable Dynamics 365 services across DfE.
</p>





<nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="{{ pages['crm/security/business-units'].url }}" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">{{ pages['crm/security/business-units'].title }}</span>
    </a>
  </div>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="{{ pages['crm/security/teams'].url }}" rel="next">
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <span class="govuk-visually-hidden">:</span>
      <span class="govuk-pagination__link-label">{{ pages['crm/security/teams'].title }}</span>
    </a>
  </div>
</nav>


{% endblock %}
