{% set pageData = pages['powerpages/components/select'] %}
{% set showHeaderSection = false %}
{% set showSubNav = true %}
{% from 'includes/components/_select.njk' import selectHeaderExample, selectStandardExample, selectHintExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageData.title }}</h2>
{% endif %}

<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item dfe-contents-list__list-item--parent">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-use-this-component">When to use this component</a>
      </li>          
      <li class="dfe-contents-list__list-item dfe-contents-list__list-item--parent">
        <a class="dfe-contents-list__link govuk-link" href="#when-to-not-use-this-component">When to not use this component</a>
      </li>
      <li class="dfe-contents-list__list-item dfe-contents-list__list-item--parent">
        <a class="dfe-contents-list__link govuk-link" href="#how-it-works">How it works</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#html-copy">Copy and amend the HTML examples</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#one-question">If you are asking one question on the page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#more-than-one-question">If you are asking more than one question on the page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#using-hint-text">Using hint text</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link govuk-link" href="#error-messages">Error messages</a>
          </li>
        </ol> 
      </li>
    </ol>
  </nav>
</div>

<h2 class="govuk-heading-l" id="when-to-use-this-component">When to use this component</h2>
<p class="govuk-body">{{ pageDescription }}</p>

<h2 class="govuk-heading-l" id="when-to-not-use-this-component">When to not use this component</h2>
<p class="govuk-body">The select component allows users to choose an option from a long list. Before using the select component, try asking users questions which will 
  allow you to present them with fewer options.</p>
<p class="govuk-body">Asking questions means you're less likely to need to use the select component, and can consider using a different solution, such as <a class="govuk-link" href="./radios">radios</a>.</p>

<h2 class="govuk-heading-l" id="how-it-works">How it works</h2>
<p class="govuk-body">If you use the select component for settings, you can make an option pre-selected by default when users first see it.</p>
<p class="govuk-body">If you use the select component for questions, you should not pre-select any of the options in case it influences users' answers.</p>

<h3 class="govuk-heading-m" id="html-copy">Copy and amend the HTML examples</h3>

<p class="govuk-body">
  Choose the appropriate example from this page and copy the HTML directly into your web template. 
  <a class="govuk-link" href="../layouts">Read about layouts</a> for more information about how to structure your web template.
</p>

<p class="govuk-body">
  If the component needs to submit to a field in CRM, replace the highlighted <code>schema-name</code> text in the example HTML with the target field schema name. 
  <strong>Do not</strong> remove any prepended or appended text to the schema name. 
  For example, if the id attribute is displayed as <code>schema-name-hint</code> in the example, the value should still contain <code>-hint</code> after the schema name has been replaced (<code>dfe_field-hint</code>).
</p>

<h3 class="govuk-heading-m" id="one-question">If you are asking one question on the page</h3>

<p class="govuk-body">
  If you are asking just one question on the page, set the contents of the <code>&lt;label&gt;</code> as the page heading. 
  This is good practice as it means that users of screen readers will only hear the contents once.
</p>

<p class="govuk-body">You will need to include an empty <code>&#123;% title %&#125;</code> block in your web template to override the default page header.</p>

{{ selectHeaderExample() }}

<h3 class="govuk-heading-m" id="more-than-one-question">If you are asking more than one question on the page</h3>

<p class="govuk-body">If you're asking more than one question on the page, do not set the contents of the <code>&lt;legend&gt;</code> as the page heading.</p>

{{ selectStandardExample() }}

<h3 class="govuk-heading-m" id="using-hint-text">Using hint text</h3>

<p class="govuk-body">
  Use hint text for help that's relevant to the majority of users, like how their information will be used, or where to find it. 
  The hint text block is included in the example below.
</p>

<p class="govuk-body">Make sure to use the hint code block with the correct component for whether there is more than one question on a page or not.</p>

<p class="govuk-body">Hint text is not mandatory.</p>

{{ selectHintExample() }}

<h4 class="govuk-heading-s" id="when-not-to-use-hint">When not to use hint text</h4>

<p class="govuk-body">
  Do not use long paragraphs and lists in hint text. 
  Screen readers read out the entire text when users interact with the form element. 
  This could frustrate users if the text is long.
</p>

<h4 class="govuk-heading-s" id="hint-avoid-links">Avoid links in hint text</h4>

<p class="govuk-body">
  Do not include links within hint text. 
  While screen readers will read out the link text when describing the field, they will not tell users that the text is a link.</p>

<h3 class="govuk-heading-m" id="error-messages">Error messages</h3>

<p class="govuk-body">
  An error message is shown next to the field and in the error summary when there is a validation error. 
  The <a class="govuk-link" href="#">custom CRM portal helper framework</a> automatically processes and handles error messages for specific error states and is included in the files for the core portal set up.
  You do not need to add any custom error containers to your page.
</p>

<p class="govuk-body govuk-!-font-weight-bold">If nothing is chosen and the question is required</p>
<p class="govuk-body">'Choose [whatever it is]'.<br><br>For example, 'Choose location'.</p>

<p class="govuk-body">
  Occasionally you may wish to use error messages outside of the validation process. 
  You can <a class="govuk-link" href="">read about the functions available within the portal helper framework</a> to help you with this.
</p>
{% endblock %}

