<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <span class="dfe-dashboard-light">
      <span class="dfe-dashboard-number">156</span>
      <span class="dfe-dashboard-label">total applications</span>
    </span>
  </div>
  <div class="govuk-grid-column-one-third">
    <span class="dfe-dashboard-light">
      <span class="dfe-dashboard-number">89</span>
      <span class="dfe-dashboard-label">approved</span>
    </span>
  </div>
  <div class="govuk-grid-column-one-third">
    <span class="dfe-dashboard-light">
      <span class="dfe-dashboard-number">67</span>
      <span class="dfe-dashboard-label">pending review</span>
    </span>
  </div>
</div>
