<div class="dfe-dashboard">
  <article class="dfe-dashboard-total-group govuk-grid-column-one-third">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View applications not started">
          Not started
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values dfe-dashboard-total-group__values--red">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">5</dd>
    </dl>
  </article>
  <article class="dfe-dashboard-total-group govuk-grid-column-one-third">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View applications in progress">
          In progress
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values dfe-dashboard-total-group__values--blue">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">15</dd>
    </dl>
  </article>
  <article class="dfe-dashboard-total-group govuk-grid-column-one-third">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View completed applications">
          Completed
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">98</dd>
    </dl>
  </article>
</div>