<div class="dfe-dashboard">
  <article class="dfe-dashboard-total-group govuk-grid-column-one-third">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View not started applications">
          Successful payments
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values dfe-dashboard-total-group__values--blue">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">5</dd>
      <dt class="govuk-visually-hidden">Amount</dt>
      <dd class="dfe-dashboard-total-group__amount">£1605.00</dd>
    </dl>
  </article>
  <article class="dfe-dashboard-total-group govuk-grid-column-one-third">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View refunded transactions">
          Successful refunds
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values dfe-dashboard-total-group__values--red">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">0</dd>
      <dt class="govuk-visually-hidden">Amount</dt>
      <dd class="dfe-dashboard-total-group__amount">£0.00</dd>
    </dl>
  </article>
  <article class="dfe-dashboard-total-group govuk-grid-column-one-third">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View successful payments and refunded transactions">
          Net income
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values">
      <dt class="govuk-visually-hidden">Amount</dt>
      <dd class="dfe-dashboard-total-group__amount">£0.00</dd>
    </dl>
  </article>
</div>