<div class="dfe-dashboard">
  <article class="dfe-dashboard-total-group govuk-grid-column-one-half">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View incomplete">
          Incomplete
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values dfe-dashboard-total-group__values--blue">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">20</dd>
    </dl>
  </article>
  <article class="dfe-dashboard-total-group govuk-grid-column-one-half">
    <header class="dfe-dashboard-total-group__heading">
      <h2 class="dfe-dashboard-total-group__title">
        <a class="govuk-link" href="#" title="View complete">
          Complete
        </a>
      </h2>
    </header>
    <dl class="dfe-dashboard-total-group__values">
      <dt class="govuk-visually-hidden">Count</dt>
      <dd class="dfe-dashboard-total-group__count">64</dd>
    </dl>
  </article>
</div>