<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <span class="dfe-dashboard-with-status">
      <a class="govuk-link govuk-link--inverse dfe-dashboard-link" href="#">
        <span class="dfe-dashboard-smaller">
          <span class="dfe-dashboard-number">12</span>
          <span class="dfe-dashboard-label">pending requests</span>
        </span>
      </a>
      <span class="dfe-dashboard-status-failing">
        Action required
      </span>
    </span>
  </div>
  <div class="govuk-grid-column-one-third">
    <span class="dfe-dashboard-with-status">
      <a class="govuk-link govuk-link--inverse dfe-dashboard-link" href="#">
        <span class="dfe-dashboard-smaller">
          <span class="dfe-dashboard-number">48</span>
          <span class="dfe-dashboard-label">current members</span>
        </span>
      </a>
      <span class="dfe-dashboard-status">
        Active
      </span>
    </span>
  </div>
  <div class="govuk-grid-column-one-third">
    <span class="dfe-dashboard-with-status">
      <a class="govuk-link govuk-link--inverse dfe-dashboard-link" href="#">
        <span class="dfe-dashboard-smaller">
          <span class="dfe-dashboard-number">156</span>
          <span class="dfe-dashboard-label">requests processed</span>
        </span>
      </a>
      <span class="dfe-dashboard-status">
        All time
      </span>
    </span>
  </div>
</div>
