{% set pageData = pages['powerpages/patterns/phase-banner'] %}
{% set showTitlePanel = true %}
{% set showSubNav = true %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5" id="setting-heading">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5" id="setting-heading">{{ pageData.title }}</h2>
{% endif %}

<p class="govuk-body">
  The GOV.UK phase banner component is included by default in the layout templates and displays a Beta label. If you want to override this to display the Alpha phase instead, you need to make the change directly in the layout templates.
</p>

<p class="govuk-body">
  To do this, you should replace <code>{% raw %}{% include 'DfE/Content/PhaseBanner/Beta' %}{% endraw %}</code> with <code>{% raw %}{% include 'DfE/Content/PhaseBanner/Alpha' %}{% endraw %}</code> in your <code>DfE/Layouts/2ColumnWideLeft</code> and <code>DfE/Layouts/1Column</code> templates.
</p>

<p class="govuk-body">
  This code will replace the default Beta phase banner with the Alpha version, ensuring consistency across the site. 
</p>

<p class="govuk-body">
  If you want to modify the custom content for the phase banner directly, such as updating the feedback link, you can find and amend the appropriate web template <code>DfE/Content/PhaseBanner/Beta</code> or <code>DfE/Content/PhaseBanner/Alpha</code>. This is also helpful if you wish to modify the banner's message further.
</p>

<p class="govuk-body">
  Remember that the phase banner is part of the layout and should be consistent throughout your site. This approach makes sure that once the layout is extended, the correct phase banner is applied to every page automatically.
</p>

<p class="govuk-body">
  For further details on how the phase banner should be used, refer to the official <a href="https://design-system.service.gov.uk/components/phase-banner/" class="govuk-link" target="_blank">GOV.UK Design System Phase Banner documentation (opens in a new tab)</a>.
</p>

{% endblock %}

