<div class="govuk-form-group">
  <label class="govuk-label" for="schema-name">
    What is your email address?
  </label>
  <input class="govuk-input" id="schema-name" name="schema-name" type="email" spellcheck="false" autocomplete="email">
</div>