{% set pageName = "Create your portal" %}
{% set pageDescription = "A step-by-step guide to creating your D365 portal instance." %}
{% set selectedNav = "Create your portal" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<p class="govuk-body">To create a site (portal) in your environment, <a class="govuk-link" href="https://make.powerapps.com/" target="_blank">sign in to Power Apps</a> and follow these steps.</p>

<ol class="govuk-list govuk-list--number">
    <li>Select the correct environment in the top toolbar (top right).</li>
    <li>On the left pane, select <strong>Create</strong>.</li>
    <li>Select <strong>Blank app</strong> at the top of the page.</li>
    <li>Click <strong>Create</strong> under 'Power Pages Website'.</li>
    <li>In the create portal window, enter a name for the portal and address for the website, and select a language from the drop-down list. If you've selected to create portal from blank, you can optionally choose a website record.</li>
    <li>Select <strong>Create</strong>.
</ol>

<p class="govuk-body">Once your portal has been created, <a class="govuk-link" href="/portals/getting-started/download-portal-files">download the base portal files</a> then proceed to <a class="govuk-link" href="/portals/getting-started/portal-setup">set up your portal</a>.</p>

{% endblock %}