<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="schema-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Have you changed your name?
      </h1>
    </legend>
    <div id="schema-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently
    </div>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="schema-name" name="schema-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="schema-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="schema-name-2" name="schema-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="schema-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>