<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      Where do you live?
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="schema-name" name="schema-name" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="schema-name">
          England
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="schema-name-2" name="schema-name" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="schema-name-2">
          Scotland
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="schema-name-3" name="schema-name" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="schema-name-3">
          Wales
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="schema-name-4" name="schema-name" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="schema-name-4">
          Northern Ireland
        </label>
      </div>
    </div>
  </fieldset>
</div>