{% set pageName = "Pre-requisites" %}
{% set pageDescription = "Set up web files" %}
{% set selectedNav = "Pre-requisites" %}
{% set dateUpdated = "July 2023" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Allow JavaScript file types</h2>
<p class="govuk-body">In the <strong>Privacy + Security</strong> settings of the Dynamics environment, remove <strong>.js</strong> from the list of blocked file extensions. 
    This will allow you to upload the JavaScript web files for use on the portal.</p>

<picture>
    <source srcset="/assets/images/portal-prereq.webp" type="image/webp">
    <img src="/assets/images/portal-prereq.png" alt="">
</picture>


{% endblock %}