<div class="dfe-grid-container">
  <div class="dfe-card">
    <div class="dfe-card-container">
      <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
      </h3>
      <p>A short description for the card.</p>
    </div>
  </div>
  <div class="dfe-card">
    <div class="dfe-card-container">
      <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
      </h3>
      <p>A short description for the card.</p>
    </div>
  </div>
</div>