<div class="dfe-grid-container">
  <div class="dfe-card">
    <img src="/assets/images/sample.png" alt="Sample Image">
    <div class="dfe-card-container">
      <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Sample Card Title</a>
      </h3>
      <p>A short description for the card.</p>
      <p class="govuk-body-s">Meta information</p>
    </div>
  </div>
  <div class="dfe-card">
    <img src="/assets/images/sample.png" alt="Sample Image">
    <div class="dfe-card-container">
      <h3 class="govuk-heading-m">
        <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Sample Card Title</a>
      </h3>
      <p>A short description for the card.</p>
      <p class="govuk-body-s">Meta information</p>
    </div>
  </div>
</div>