{% set pageData = pages['crm'] %}
{% set showTitlePanel = true %}
{% set showSubNav = true %}

{% extends "layouts/_two-column-wide-left.html" %}

{% block content %}

<p class="govuk-body-l">The Dynamics 365 Design System provides guidance on how to build CRM solutions in a consistent, scalable and maintainable way across DfE. It sets out how we use configuration, low‑code, pro‑code, architecture patterns, environment management and security to deliver services that align with DfE’s long‑term CRM strategy.</p>

<h2 class="govuk-heading-m">Why we built this</h2>

<p class="govuk-body">Dynamics 365 provides out-of-box tools to configure and customise CRM services, including out‑of‑the‑box functionality, low‑code capabilities and extensibility through C#, JavaScript and integrations. This flexibility can lead to teams approaching similar tasks in different ways, resulting in solutions that are hard to maintain, inconsistent or misaligned with best practice.</p>

<p class="govuk-body">The Design System provides a standard approach for how DfE builds, extends and operates Dynamics 365 solutions. It helps teams avoid unnecessary customisation, encourages reuse of components, and ensures services are reliable, secure and supportable.</p>

<h2 class="govuk-heading-m">What's included</h2>

<p class="govuk-body">This manual covers the core areas needed to deliver high‑quality CRM services:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>How to design applications using out‑of‑the‑box features and structure data consistently</li>
  <li>When to use configuration, low‑code, or pro‑code, and how to apply best‑practice</li>
  <li>How to build solutions that are consistent, reusable and aligned with DfE’s CRM strategy</li>
  <li>How to manage environments and deploy via Azure DevOps pipelines</li>
  <li>How to configure security in a safe and predictable way</li>
  <li>Which Dynamics 365 licences are required</li>
</ul>


<h2 class="govuk-heading-m">Experience required</h2>

<p class="govuk-body">To use this manual effectively, you should have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Experience building or extending Dynamics 365 or Power Platform solutions</li>
  <li>Understanding of Dataverse tables, relationships and the Dynamics 365 data model</li>
  <li>Knowledge of configuration, low‑code and custom development approaches</li>
  <li>Familiarity with ALM processes, source control and Azure DevOps pipelines</li>
  <li>Experience working with environments across the Power Platform</li>
</ul>



{% endblock %}

{% block sideContent %}
<h2 class="govuk-heading-m">Explore this section</h2>

<ul class="dfe-component-list dfe-component-list--single-column">
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ pages['crm/configuration'].url }}">Configuration</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ pages['crm/configuration'].description }}</p>
  </li>
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ pages['crm/customisation'].url }}">Customisation</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ pages['crm/customisation'].description }}</p>
  </li>
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ pages['crm/architecture'].url }}">Architecture</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ pages['crm/architecture'].description }}</p>
  </li>
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ pages['crm/environments'].url }}">Environments</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ pages['crm/environments'].description }}</p>
  </li>
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ pages['crm/security'].url }}">Security</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ pages['crm/security'].description }}</p>
  </li>
  <li class="dfe-component-list__item">
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ pages['crm/other'].url }}">Other</a>
    </h3>
    <p class="govuk-body-s govuk-!-margin-bottom-0">{{ pages['crm/other'].description }}</p>
  </li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Get help</h2>

<p class="govuk-body">If you have questions or need advice on implementing these patterns, <a class="govuk-link" href="mailto:solutionsdevelopment.techdirectorate@education.gov.uk">contact the Solutions Delivery Team</a>.</p>

{% endblock %}
