{% set pageData = pages['home'] %}
{% set showTitlePanel= false %}
{% set showSubNav = false %}

{% extends "layouts/_two-column-wide-left.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <div class="dfe-grid-container">
    <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
          <a href="{{pages['powerpages'].url}}" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Power Pages</a>
        </h3>
        <p class="govuk-body">Step-by-step guidance on crafting GOV.UK-aligned front-end experiences using the GOV.UK Design System, DfE Frontend and bespoke components &mdash; so your Power Pages sites look and feel consistent from page to page.</p>
      </div>
    </div>
    <div class="dfe-card">
      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
          <a href="{{pages['crm'].url}}" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">CRM</a>
        </h3>
        <p class="govuk-body">A standardised process for configuring, customising and deploying the Dynamics 365 back end &mdash; covering solution architecture, environment strategies, custom entities and release practices to keep your CRM robust and maintainable.</p>
      </div>
    </div>
  </div>
  </div>
</div>
<h2 class="govuk-heading-l">Other resources and guidance</h2>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <a class="govuk-link" href="https://user-research.education.gov.uk/" target="_blank">User Research in DfE</a>
  </li>
  <li>
    <a class="govuk-link" href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.gov.uk/service-manual" target="_blank">GOV.UK Service Manual</a>
  </li>
  <li>
    <a class="govuk-link" href="https://www.gov.uk/service-manual/communities/design-community" target="_blank">Cross government design community</a>
  </li>
</ul>
</div>

{% endblock %}