{% set pageData = pages['powerpages/patterns/caption-page-heading'] %}
{% set showTitlePanel = false %}
{% set showSubNav = true %}

{% from 'includes/patterns/_caption-page-heading.njk' import patternsCaptionHeadingSingleExample, patternsCaptionHeadingMultipleExample %}

{% extends "layouts/_wide-right-left-navigation.html" %}

{% block content %}

{% if showTitlePanel == false %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5" id="using-captions">{{ pageData.title }}</h1>
{% else %}
  <h2 class="govuk-heading-xl govuk-!-margin-bottom-5" id="using-captions">{{ pageData.title }}</h2>
{% endif %}

<div class="dfe-contents-container">
  <nav class="dfe-contents-list">
    <h2 class="dfe-contents-list__title">Contents</h2>
    <ol class="dfe-contents-list__list">
      <li class="dfe-contents-list__list-item">
        <a class="dfe-contents-list__link govuk-link" href="#using-captions">Using captions in page headings</a>
        <ol class="dfe-contents-list__nested-list">
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#single-question">Single question page</a>
          </li>
          <li class="dfe-contents-list__list-item dfe-contents-list__list-item--dashed">
            <a class="dfe-contents-list__link" href="#multiple-question">Multiple question page</a>
          </li>
        </ol> 
      </li>
    </ol>
  </nav>
</div>

<p class="govuk-body">You may need to include the caption above the page heading to indicate that the page is part of a larger section or group.</p>
<p class="govuk-body">To apply consistent page headings with captions across Power Pages, you should first understand the guidance on <a class="govuk-link" href="{{ pages['powerpages/patterns/page-heading'].url }}">setting page headings</a>.</p>
<p class="govuk-body">The main difference when including captions is that you will set the page title in the web page content page as usual, but the title will include the caption, separated by a colon (:). For example:</p>

<pre><code>About you: What is your first name?</code></pre>

<p class="govuk-body">In the Liquid template, you will split the page title into the main title and the caption using the Liquid <code>split</code> filter. The first part will be the caption, and the second part will be the main title. You can then format them appropriately in HTML as follows:</p>

<h3 class="govuk-heading-l" id="single-question">Single question page</h3>

{{ patternsCaptionHeadingSingleExample() }}

<p class="govuk-body">In this example, the <code>{% raw %}{{ title[0] }}{% endraw %}</code> is the caption (before the colon) and <code>{% raw %}{{ title[1] }}{% endraw %}</code> is the main title (after the colon).</p>

<h3 class="govuk-heading-l" id="multiple-question">Multiple question page</h3>

<p class="govuk-body">The guidance for captions differs slightly from setting a standard page heading in a multiple-question page. When using captions you <strong>should</strong> include the <code>title</code> block and override its content as shown below:</p>

{{ patternsCaptionHeadingMultipleExample() }}

<p class="govuk-body">In this example, the <code>title</code> block is used to override the default page title, which is split into the caption and the main title. The caption is displayed above the main title, which can help clarify that the page is part of a larger section or group.</p>

{% endblock %}

