{% from 'header/macro.njk' import header %}

{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showUserName": "false",
    "userName": "",
    "userNameURL": "",
    "selectedNav": selectedNav,
    "logoPath": "assets/images",
    "searchInputName": "searchterm",
    "service": {
      "name": serviceName
    },
    "primaryLinks": [
      {
        "url"  : "/",
        "label" : "Home"
      },
      {
        "url"  : "/portals",
        "label" : "PowerPages"
      },
      {
        "url"  : "/crm",
        "label" : "CRM"
      }
    ]
  })
}}

