<!-- 
  - This template renders a two column layout. The left column is wider than the right.
  - It contains:
      - a phase banner (switch between Alpha and Beta as required, or remove if not necessary).
      - breadcrumbs block containing the breadcrumbs web template
      - title block containing the page heading web template
      - main block, which by default, renders any entity form, entity list or web form associated with the web page.
      - empty block for the right column content if required. NOTE - adding the right column content in this code will render the same content on every web page which uses this template. 
  - Replace the content of 'Layout 2 Column Wide Left' web template with the code below.
  - Rename the template to 'DfE/Layouts/2ColumnWideLeft'.
 -->

<div class="govuk-width-container">
  {% include 'DfE/Content/PhaseBanner/Beta' %}
  {% block breadcrumbs %}
    {% include 'DfE/Content/Breadcrumbs' %}
  {% endblock %}
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div id="error-summary-container"></div>
        {% block title %}
          {% include 'DfE/Content/PageHeading' %}
        {% endblock %}
        {% block main %}
          {% include 'Page Copy' %}
          {% if page.adx_entitylist %}
            {% include 'entity_list' key:page.adx_entitylist.id %}
          {% endif %}    
          {% if page.adx_entityform %}
            {% entityform id: page.adx_entityform.id %}
          {% endif %}    
          {% if page.adx_webform %}
            {% webform id: page.adx_webform.id %}
          {% endif %}
        {% endblock %}
      </div>
      <div class="govuk-grid-column-one-third">
        {% block rightColumn %}
        {% endblock %}
      </div>
    </div>
  </main>
</div>